.collapse_inline h2 {
	cursor: pointer;
}
.collapse_inline h2:after,
.collapse_inline h2.closed:after {
	color: #444;
	font-weight: normal;
}
.collapse_inline h2:after {
	content: " (Hide)";
}
.collapse_inline h2.closed:after {
	content: " (Show)";
}
.form-row.show_on,
.form-row.hide_after {
	display: inline-block;
}
.form-row.show_on {
	margin-right: 40px;
}
