{% load feincms_tags feincms_page_tags mptt_tags navigation_tags util_tags content_tags %}

<div class="hfeed newsfeed">
{% for entry in object_list %}
    {% include 'elephantblog/entry_list_item.html' %}
{% endfor %}
<p><a href="{% url 'news_feed' %}" class="has-icon rss">Latest News Feed</a></p>
</div>


<div class="pagination">
    {% if object_list.has_previous %}
        <a href="?page={{ object_list.previous_page_number }}">&laquo;</a>
    {% endif %}
    page:
    {% for p in object_list.page_range|default_if_none:object_list.paginator.page_range %}
        {% if not p %}&hellip;
        {% else %}
            <a {% if p == object_list.number and not object_list.show_all_objects %}class="mark"{% endif %} href="?page={{ p }}">{{ p }}</a>
        {% endif %}
    {% endfor %}

    {% if object_list.has_next %}
        <a href="?page={{ object_list.next_page_number }}">&raquo;</a>
    {% endif %}
</div>
