<div class="modal-header">
    <h4 class="modal-title" id="counsModalLabel">{{ areaname }}</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="medium-4 columns">
            <img src="{{employee.photo}}">
        </div>
        <div class="medium-8 columns">
            <div class="color-bar" style="background:{{ color }}"></div>
            <p>
                <span class="name">
                    {{employee.name}}
                </span>
                <br>
                <span><a href="mailto:{{employee.email}}" class="btn btn-default">
                    <span class="glyphicon glyphicon-envelope"></span>
                    {{employee.email}}
                    </a>
                </span>
                <br>
                <span class="tel">
                    {{#if touch}}
                    <a href="tel:{{employee.phone.[1]}}" class="btn btn-default">
                    {{/if}}
                    <span class="fa fa-phone"></span>
                    {{employee.phone.[0]}}
                    {{#if touch}}
                    </a>
                    {{/if}}
                </span>
            </p>
        </div>
    </div>
</div>
