<p>
    <strong>For all countries outside the U.S.</strong>, contact {{name}} at
    {{#if touch}}
        <a href="tel:{{phone.[1]}}">
    {{/if}}
    {{phone.[0]}}
    {{#if touch}}
        </a>
    {{/if}}
    or
    <a href="mailto:{{email}}"><span class="fa fa-mail"></span> {{email}}</a>.
</p>
