{% if items %}
<ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4 link-list">
	{% for item in items %}
		<li>
		<div class="inner">
			<a href="{{ item.url }}">
				<span>{{ item }}</span>
			</a>
		</div>
	</li>
	{% endfor %}
</ul>
{% else %}
<p>No items found for {{ category }}</p>
{% endif %}