{% if form.id == 1 or form.id == 2 or form.id == 12 %}
    {% include "forms/acad_info_request.html" %}
{% else %}
    <h2>{{ form.title }}</h2>
    {% if form.intro %}
    <p>{{ form.intro }}</p>
    {% endif %}
    <form data-abide
        action="{{ form.get_absolute_url }}" method="post"
        {% if form_for_form.is_multipart %}enctype="multipart/form-data"{% endif %}>
        {% csrf_token %}
        {{ form.non_field_errors }}
        {{ form_for_form.as_p }}
        <div style="clear:left;">&nbsp;</div>
        <input class="button" type="submit" value="{{ form.button_text }}">
    </form>
{% endif %}
