{% load feincms_thumbnail util_tags content_tags %}

<div class="image-gallery">
	{% for item in items %}
		<a href="{{ item.file|thumbnail:"1000x9999999" }}" title="{{ item.caption }}">
      <img class="{{ item.type }} {% get_image_orientation item %}" src="{{ item.file|thumbnail:"300x9999999" }}" alt="{{ item.caption }}"/>
    </a>
	{% endfor %}
</div>
