<div class="item small-12 medium-6 large-12 columns">
  <img src="../../static/theme/images/img-3.jpg" alt="">
  <span class="description">Apply now</span>
</div>
<div class="item small-12 medium-6 large-12 columns">
  <img src="../../static/theme/images/img-4.jpg" alt="">
  <span class="description">VISIT</span>                  
</div>
<div class="item small-12 medium-6 large-12 columns">
  <img src="../../static/theme/images/img-5.jpg" alt="">
  <span class="description">Italy Center</span>                  
</div>
<div class="item small-12 medium-6 large-12 columns">
  <img src="../../static/theme/images/img-6.jpg" alt="">
  <span class="description">Majors</span>                  
</div>