<!-- Off Canvas Menu -->
        
<aside class="left-off-canvas-menu">
            


<ul class="off-canvas-list strong">
    
    

</ul>

<ul class="off-canvas-list">
    <li class="has-form">
       <div class="wrap-search">
   <form action="/search" method="GET">
        <div class="row collapse search">
            <div class="form-item">
                <button type="submit" class="search-button postfix hide"><span>search</span><i class="icons icon-search"></i></button>
                <input type="text" class="hide" placeholder="Type text for search" name="q" id="q">            
                <a class="postfix show-search-button"><span>search</span> <i class="icons icon-search"></i></a>
            </div>
        </div>
    </form>           
 </div>
    

    </li>
</ul>

<ul class="main-menu off-canvas-list">
    <li class="list-title"><label>Main menu</label></li>
    <li class="active">
        <a href="/">Home</a>
    </li>
    
    

    
    
    
    <li class="">
        <a href="/about/">About Spring Hill</a>
    </li>
    

    
    
    
    <li class="">
        <a href="/ug/">Undergraduate</a>
    </li>
    

    
    
    
    <li class="">
        <a href="/grad/">Graduate</a>
    </li>
    

    
    
    
    <li class="">
        <a href="/cs/">Continuing Studies</a>
    </li>
    

    
    
    
    <li class="">
        <a href="/athletics/">Athletics</a>
    </li>
    

    
    
    
    <li class="">
        <a href="/alumni/">Alumni</a>
    </li>
    

    
</ul>

<ul class="off-canvas-list">
    <li class="list-title"><label>Other stuff</label></li>
    <li>
      <a href="#footer">More menu items</a>
    </li>
</ul>



          </aside>
<!-- close the off-canvas menu -->
<a class="exit-off-canvas"></a>