 <!--script src="/static/js/app.all.js"></script-->
 <script src="../../static/theme/js/vendor/modernizr/modernizr.js"></script>
 <script src="../../static/theme/js/jquery-2.0.3.min.js"></script>
 <script src="../../static/theme/js/foundation.min.js"></script> 
 <script src="../../static/theme/js/owl.carousel.min.js"></script>
 <script src="../../static/theme/js/jquery.magnific-popup.min.js"></script>

 <!--script src="../../static/theme/js/map.all.min.js"></script-->
 <script src="../../static/theme/js/script.js"></script>
 <script src="../../static/theme/js/default.js"></script>

