@import "../../../vendor/font-awesome/scss/variables";
$fa-font-path: "/static/theme/vendor/font-awesome/fonts";
@import "../../../vendor/font-awesome/scss/path";
@import "../../../vendor/font-awesome/scss/icons";

.order-item .handle {
    left: 3px !important;
    &:before {
      font-family: FontAwesome;
      content: $fa-var-reorder;
      font-size: 16px;
    }
}

.modname {
    padding-left: 20px;
}

.field-teaser textarea {
    height: 100px;
}
