{% load feincms_thumbnail util_tags %}

{% if profiles %}
<div class="brady-bunch">
  <ul class="large-block-grid-3 medium-block-grid-2">
    {% for profile in profiles %}
    <li class="profile">
      <a data-reveal-id="profile-reveal-modal"
        href="{% url 'profile' profile.slug %}"
        data-reveal-ajax="{% url 'profile_content' profile.id %}?modal=1"
        data-profile-id="{{ profile.id }}">
        <img src="{{ profile.image.file|cropscale:"220x220" }}" />
        {% include 'profiles/partials/profile_titles.html' %}
        <span class="more-link">More</span>
      </a>
    </li>
    {% endfor %}
  </ul>
</div>
<div class="reveal-modal profile-modal" data-reveal data-options="animation:fade;" id="profile-reveal-modal" aria-labelledby="modalTitle" aria-hidden="true" role="dialog"></div>
{% endif %}
