{% load feincms_page_tags %}
<footer id="footer">
    <div class="footer-top">
        <div class="row">
            <div class="medium-6 columns">
                <ul class="social-menu inline-list">
                {% include 'partials/menus/icon-menu.html' with entries=shc_links.SOCIAL_LINKS %}
                </ul>
            </div>
            <div class="medium-3 columns">
                <p class="purpleup">#purpleup</p>
            </div>
            <div class="medium-3 columns">
                <p class="purpleup">#SHCFamily</p>
            </div>
        </div>
    </div>
    <div id="snapModal" class="reveal-modal small" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
        <h2 id="modalTitle">Scan this Snapcode</h2>
        <p><img src="//www.shc.edu/tracker/snapchat/" alt=""></p>
        <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>
    <div class="footer-bottom">
        <div class="row">
            <div class="medium-4 columns contact-menu">
            <h3>Campus Resources</h3>
                <ul>
                    {% feincms_nav feincms_page level=1 depth=1 group='subnav1' as entries %}
                    {% include 'partials/menus/generic-menu.html' with entries=entries %}
                </ul>
            </div>
            <div class="medium-4 columns services-menu">
                <h3>Online Resources</h3>
                <ul>
                    {% feincms_nav feincms_page level=1 depth=1 group='subnav2' as entries %}
                    {% include 'partials/menus/generic-menu.html' with entries=entries %}
                </ul>
            </div>
            <div class="medium-4 columns other-menu">
            <h3>Faculty/Staff</h3>
                <ul>
                    {% feincms_nav feincms_page level=1 depth=1 group='subnav3' as entries %}
                    {% include 'partials/menus/generic-menu.html' with entries=entries %}
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="medium-12 columns">
                <p class="physical-address">©Spring Hill College
              4000 Dauphin St. Mobile, Alabama 36608
                <a class="tel" href="tel:8007426704"><span class="show-for-sr">Call us toll free at </span>800-742-6704</a>
                <a class="tel" href="tel:2513804000"><span class="show-for-sr">Call us locally at </span>251-380-4000</a>
                </p>
            </div>
        </div>
    </div>
</footer>
