{{#each emps }}
<div itemprop="employee" itemscope itemtype="http://schema.org/Person" class="person">
  <p><span itemprop="name" class="name">{{ natural_name }}</span>
    <br><span itemprop="jobTitle">{{ position }}</span>
    {{#if phone }}
      <br>
      <a href="tel:{{ phone.[1] }}" class="has-icon phone">
        <span itemprop="telephone">{{ phone.[0] }}</span>
      </a>
    {{/if}}
    {{#if memail }}
      <br>
      <a class="memail" data-coded="{{ memail }}" itemprop="email" class="has-icon envelope">
        <span class="email"></span>
      </a>
    {{/if}}</p>
</div>
{{/each}}
