{% extends "apps/printable.html" %}
{% block content %}
	{% if error %}
		<p>{{ error }}</p>
	{% else %}
		<div id="header">
			<h1>SHC Employees by Department</h1>
		</div>
		<div id="employees" class="dept">
			{% for dept_group in emps %}
				<h2>{{ dept_group.dept.name }}</h2>
				{% for emp in dept_group.emps %}
					{% include "apps/partials/print-employee.html" %}
				{% endfor %}
			{% endfor %}
		</div>
		{% include "apps/partials/print_directory_footer.html" %}
	{% endif %}
{% endblock %}
