{% extends "apps/printable.html" %}
{% block content %}
	{% if error %}
		<p>{{ error }}</p>
	{% else %}
		<div id="header">
			<h1>SHC Employees Quick Reference</h1>
		</div>
		<div id="employees" class="qr">
		{% for emp in emps %}
			{% include "apps/partials/print-employee-qr.html" %}
		{% endfor %}
		</div>
		{% include "apps/partials/print_directory_footer.html" %}
	{% endif %}
{% endblock %}
