{% extends "default.html" %}
{% load feincms_tags feincms_page_tags mptt_tags navigation_tags %}

{% block content_wrapper %}
<!-- main content here -->
<div class="content row">
    <div class="medium-12 columns">
        {% block alerts %} {% endblock %}
        {% block content %}

    <div class="row-wrapper">
      <div class="row">
        <div class="medium-12 columns">
          {% block banner %}
          {% if feincms_page.content.main %}
            {% for content in feincms_page.content.main %}
            <div class="block">
                {% feincms_render_content content request %}
            </div>
            {% endfor %}
            {% endif %}
          {% endblock %}
        </div>
      </div>
    </div>

    {% endblock %}
  </div>
</div>
{% endblock %}
