{% extends "default.html" %}
{% load feincms_tags feincms_page_tags mptt_tags navigation_tags %}

{% block extra_head %}
<style>
.wrap-breadcrumbs {
    display: none;
}
img.resp {
    width: 100%;
}
.hero {
    position: relative;
    overflow: hidden;
}
.hero .overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #3d1951;
    opacity: .75;
    color: white;
}
.hero .overlay * {
    color: White;
}
.hero .overlay h2 {
    font-size: 2rem;
}

.event-wrapper {
    background: #3d1951;
}

.wrapper h2,
.wrapper p {
    color: White;
}

.wrapper h2 {
    margin-top: 0;
}

.description {
    line-height: 1.4;
    margin-bottom: .5rem;
}

.more-link:after {
    content: ' \0000BB';
}

h1.bigger {
    font-size: 3rem;
    margin-bottom: 0;
}
h1.subheader {
    font-size: 2.2rem;
    color: #ccc !important;
}
h2.subheader {
    font-size: 2rem;
}

.button {
    background-color: #0061a0;
    border: 1px solid White;
    font-weight: bold;
}




.student {
    position: relative;
}
.student .info {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #3d1951;
    color: #fff;
    opacity: 0.9;
    padding: .1rem .5rem;
}
.student .name {
    font-size: .8rem;
    font-weight: bold;
}
.student p {
    margin-bottom: 0;
}
@media only screen and (min-width: 40.063em) {
    .student .info {
        padding: .5rem 1rem;
    }
    .student .name {
        font-size: 1rem;
    }
 }
img {
    width: 100%;
}

.video-block {
    display: block;
    position: relative;
}

.video-block .video-overlay {
    display: block;
    position: absolute;
    bottom: 0;
}
</style>
{% endblock %}

{% block content_wrapper %}
<!-- main content here -->
{% block banner %}
    {% if feincms_page.content.main %}
    {% for content in feincms_page.content.main %}
        <div class="block">
            {% feincms_render_content content request %}
        </div>
    {% endfor %}
    {% endif %}
{% endblock %}
{% endblock %}
