{% extends "default.html" %}
{% load feincms_tags feincms_page_tags mptt_tags navigation_tags %}

{% block content_wrapper %}
<!-- main content here -->
<div class="content row">
    <div class="medium-12 columns">
        {% block alerts %} {% endblock %}

        {% block content %}

        <div class="row-wrapper {{ row_wrapper_2_style }}">
          <div class="row">
            <div class="medium-9 medium-push-3 columns page-content">
              {% if feincms_page.content.main %}


              <div class="row-wrapper {{ row_wrapper_1_style }}">
                <div class="row">
                  <div class="medium-12 columns">
                    {% block page_title %}
                        {% if feincms_page %}
                            <h1>{{ feincms_page.content_title }}{% block post_page_title %}{% endblock %}</h1>
                            {% if feincms_page.content_subtitle %}
                                <h2 class="subheader hide-for-medium-down">{{ feincms_page.content_subtitle }}</h2>
                            {% endif %}
                        {% endif %}
                    {% endblock %}
                    {% block banner %}
                      {% feincms_nav feincms_page level=2 depth=1 as entries %}
                      {% include "partials/menus/generic-submenu.html" with entries=entries %}
                      {% if feincms_page.content.banner %}
                        {% for content in feincms_page.content.banner %}
                        <div class="block">
                            {% feincms_render_content content request %}
                        </div>
                        {% endfor %}
                      {% endif %}
                    {% endblock %}
                  </div>
                </div>
              </div>

              <div class="medium-6 columns">
                {% block main %}
                  {% for content in feincms_page.content.main %}
                    <div class="block">
                        {% feincms_render_content content request %}
                    </div>
                  {% endfor %}
                {% endblock %}
              </div>
              {% endif %}
              {% if feincms_page.content.main2 %}
              <div class="medium-6 columns">
                {% block main2 %}
                  {% for content in feincms_page.content.main2 %}
                    <div class="block">
                        {% feincms_render_content content request %}
                    </div>
                  {% endfor %}
                {% endblock %}
              </div>
              {% endif %}


              <!-- FOOTER HERE!! -->


            </div>
            <div class="medium-3 medium-pull-9 columns sidebar left-sidebar">
              {% block sidebar %}
                {% block sidebar-pre-nav %}{% endblock %}
                <div class="show-for-medium-up">
                {% block sidebar-nav %}
                <ul class="side-nav block">
                  {% include "partials/menus/section-menu.html" %}
                </ul>
                {% endblock %}
                </div>
                {% block sidebar-post-nav %}{% endblock %}
                {% if feincms_page.content.sidebar %}
                  {% for content in feincms_page.content.sidebar %}
                    <div class="block">
                        {% feincms_render_content content request %}
                    </div>
                  {% endfor %}
                {% endif %}
              {% endblock %}
            </div>

          </div> <!-- end row -->
        </div>

        {% if feincms_page.content.foot %}
        <div class="row-wrapper {{ row_wrapper_3_style }}">
          <div class="row">
            <div class="medium-12 columns">
              {% block foot %}
                {% for content in feincms_page.content.foot %}
                  <div class="block">
                      {% feincms_render_content content request %}
                  </div>
                {% endfor %}
              {% endblock %}
            </div>
          </div>
        </div> <!-- end row -->
        {% endif %}
        {% endblock %}
      </div>
    </div>
{% endblock %}