// @bootstrap-base-path: "../vendor/bootstrap/less";

.row.buffer-top {
	margin-top: 40px;
}

.container .jumbotron {
	padding: 38px 48px;
}

.popover-title {
	font-size: 16px;
}

.popover-content {
	font-size: 13px;
}

.alert {
	margin-top: 10px;
	margin-bottom: 10px;
}

input {
	font-weight: 700;
	&.money {
		text-align: right;
	}
	&.money.account {
		color: Red;
	}
	&.money.account.credit {
		color: Black;
	}
}

.form-group.big {
	input, span {
		background-color: #0070b9;
		border-color: #0061a0;
		color: white;
	}
	label {
		color: #0061a0;
	}
}

form .errmsg {
	font-size: 1rem;
}

form .errmsg,
form input.ng-invalid {
	color: #a94442;
}

// @import "@{bootstrap-base-path}/print.less";
