img[src$='image-not-available.png'] {
    display: none;
}

.employeeList a.input-group-addon {
    padding: 10px;
}
.profile-card {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.profile-card.last {
    border-bottom: none;
}
.page-content .profile-card a:not(.button),
.page-content .group-card a:not(.button)
 {
    text-decoration: none;
}
