{% if do_modal %}
<a class="button medium" 
    href="#" 
    data-reveal-id="myModal" 
    id="button-open-acad-info-req-form">{{ button_txt }}</a>
<div id="myModal" class="reveal-modal" data-reveal>
{% endif %}
    <h2>{% firstof form_title form.title %}</h2>
    {% if form.intro %}
    <p>{{ form.intro }}</p>
    {% endif %}
    <form data-abide
        action="{{ form.get_absolute_url }}" method="post"
        {% if form_for_form.is_multipart %}enctype="multipart/form-data"{% endif %}>
        {% csrf_token %}
        <div class="row">
            <div class="medium-12 columns">
                {{ form.non_field_errors }}
            </div>
        </div>
        <div class="row">
            <div class="medium-6 columns">
                {% with field=form_for_form.first %}
                {% include "partials/forms/std-form-field.html" %}
                <small class="error">{{ field.label }} is required and must be a string.</small>
                {% endwith %}
            </div>
            <div class="medium-6 columns">
                {% with field=form_for_form.last %}
                {% include "partials/forms/std-form-field.html" %}
                <small class="error">{{ field.label }} is required and must be a string.</small>
                {% endwith %}
            </div>
        </div>
        <div class="row">
            <div class="medium-12 columns">
                {% with field=form_for_form.describe_yourself %}
                {% include "partials/forms/std-form-field.html" %}
                {% endwith %}
            </div>
        </div>
        <div class="row">
            <div class="medium-12 columns">
                {% with field=form_for_form.info %}
                {% include "partials/forms/std-form-field.html" %}
                <small class="error">Please let us know which academic areas you are interested in.</small>
                {% endwith %}
            </div>
        </div>
        <div class="row">
            <div class="medium-6 columns">
                {% with field=form_for_form.email %}
                {% include "partials/forms/std-form-field.html" %}
                <small class="error">{{ field.label }} is required and must be an email address.</small>
                {% endwith %}
            </div>
            <div class="medium-6 columns">
                {% with field=form_for_form.phone %}
                {% include "partials/forms/std-form-field.html" %}
                {% endwith %}
            </div>
        </div>
        <div class="row">
            <div class="medium-12 columns">
                {% with field=form_for_form.address %}
                {% include "partials/forms/std-form-field.html" %}
                {% endwith %}
            </div>
        </div>
        <div class="row">
            <div class="medium-12 columns">
                <p>When do you plan to enroll at Spring Hill?</p>
            </div>
        </div>
        <div class="row">
            <div class="medium-6 columns">
                {% with field=form_for_form.enrollment_semester %}
                {% include "partials/forms/std-form-field.html" %}
                {% endwith %}
            </div>
            <div class="medium-6 columns">
                {% with field=form_for_form.enrollment_year %}
                {% include "partials/forms/std-form-field.html" %}
                <small class="error">{{ field.label }} must be a number.</small>
                {% endwith %}
            </div>
        </div>
        {% if form_for_form.captcha %}
        <div class="row">
            <div class="medium-12 columns">
              {% with field=form_for_form.captcha %}
              {% include "partials/forms/std-form-field.html" %}
              {% endwith %}
            </div>
        </div>
        {% endif %}
        <div class="row">
            <div class="medium-12 columns">
                <div style="clear:left;">&nbsp;</div>
                <input class="button" type="submit" value="{{ form.button_text }}">
            </div>
        </div>
    </form>
{% if do_modal %}
  <a class="close-reveal-modal">&#215;</a>
</div>
{% endif %}
