{% extends "grid/ug_page.html" %}
{% load feincms_tags feincms_page_tags util_tags content_tags %}

{% block post_page_title %}
	{% get_degree_by_page_slug feincms_page.slug as degree %}
	{% if degree %}
	{% include "partials/academics/MMC_for_major.html" with major_types=degree.mmc.all %}
	{% endif %}
{% endblock %}

{% block sidebar-post-nav %}
	{% get_degree_by_page_slug feincms_page.slug as degree %}
	{% if degree.mmc.all %}
	<div class="block MMC_legend">
	{% include "partials/academics/MMC_for_major.html" with major_types=degree.mmc.all legend=True %}
	</div>
	{% endif %}
	{% get_degrees_in_area feincms_page "self" True as area_degrees %}
	{% if area_degrees.degrees %}
	<!-- <div class="block">
		{% include "partials/academics/related-majors.html" %}
	</div> -->
	{% endif %}
	<div class="block request-info">
		{% block "contactform" %}
		{% get_form_by_id 1 as form %}
		{% with form=form button_txt="Request more information on this program" %}
		{% include "partials/forms/modal-form-render.html" %}
		{% endwith %}
		{% endblock %}
		{% get_dept_slug_by_degree feincms_page as dept_code %}
		{% include "partials/academics/dept-quicklink.html" with dept_code=dept_code %}
		<a class="button large expand" href="http://www.shc.edu/visit">Visit the Hill</a>
		<a class="button large expand important" href="http://www.shc.edu/apply">Apply to Spring&nbsp;Hill</a>
	</div>
	<div class="block">
		<h3>Contact Info</h3>
		{% get_dept_slug_by_degree feincms_page as dept_code %}
		<!--[if lte IE 9]>
		<ul class="side-nav">
			<li><a href="http://apps.shc.edu/about/facstaff-directory.html?q={{ dept_code }}">See departmental contact info for this major</a></li>
		</ul>
		<![endif]-->
		{% include "partials/academics/dept-info.html" with dept_code=dept_code query_options="order=priority&limit=2&thresh=2" %}
	</div>
{% endblock %}
{% block main %}
	{{ block.super }}
	{% block row1 %}
	{% if feincms_page.content.row1 %}
		{% get_even_and_last_items feincms_page.content.row1 as items %}
		{% if items %}
		{% include "partials/common/even_odd_display_block.html" %}
		{% endif %}
	{% endif %}
	{% endblock %}

	{% get_random_testimonials_for_page feincms_page 2 as testimonials %}
	{% if testimonials %}
		<div class="row subcontent">
			<div class="medium-12 columns">
				<h2>Testimonials</h2>
			</div>
			{% for tm in testimonials %}
				{% if testimonials|length > 1 %}
				<div class="medium-6 columns">
				{% else %}
				<div class="medium-12 columns">
				{% endif %}
				{% include "partials/person/testimonial.html" %}
				</div>
			{% endfor %}
		</div>
	{% endif %}

	{% block row2 %}
	{% if feincms_page.content.row2 %}
		{% get_even_and_last_items feincms_page.content.row2 as items %}
		{% if items %}
		{% include "partials/common/even_odd_display_block.html" %}
		{% endif %}
	{% endif %}
	{% endblock %}
	
{% endblock %}