{% load applicationcontent_tags markup_tags %}
<div class="medium-12 columns">
    {% if story.lead_image %}
    <a href="{% app_reverse 'magazine_story_detail' 'magazine.urls' slug=story.issue.slug pk=story.pk story_slug=story.story.slug %}">
        <img src="{{ story.lead_image.get_absolute_url }}">
    </a>
    {% endif %}
    <div class="title">
        <a href="{% app_reverse 'magazine_story_detail' 'magazine.urls' slug=story.issue.slug pk=story.pk story_slug=story.story.slug %}">
            {{ story.story.title }}
        </a>
    </div>
</div>
<div class="medium-12 columns">
    <div class="intro">
        {{ story.teaser|apply_markup:"markdown" }}
    </div>
</div>
