{% load applicationcontent_tags markup_tags %}
{% if story.lead_image %}
<div class="medium-6 columns">
    <a href="{% app_reverse 'magazine_story_detail' 'magazine.urls' slug=story.issue.slug pk=story.pk story_slug=story.story.slug %}">
        <img src="{{ story.lead_image.get_absolute_url }}">
    </a>
</div>
{% endif %}
<div class="{% if story.lead_image %}medium-6{% else %}medium-12{% endif %} columns">
    <div class="title">
        <a href="{% app_reverse 'magazine_story_detail' 'magazine.urls' slug=story.issue.slug pk=story.pk story_slug=story.story.slug %}">
            {{ story.story.title }}
        </a>
    </div>
    <div class="intro">
        {{ story.teaser|apply_markup:"markdown" }}
    </div>
</div>
