{% load applicationcontent_tags markup_tags %}
<div class="medium-12 columns">
    <div class="title">
        <a href="{% app_reverse 'magazine_story_detail' 'magazine.urls' slug=story.issue.slug pk=story.pk story_slug=story.story.slug %}">
            {{ story.story.title }}
        </a>
    </div>
    <div class="intro">
        {{ story.teaser|apply_markup:"markdown" }}
    </div>
</div>
