{% extends "grid/bricks_two-col_left-sidebar.html" %}

{% load feincms_tags i18n admin_urls %}

{% block extra_head %}
<meta name="robots" content="noindex">
{% endblock %}

{% block page_title %}
<h1>News {% if year %}{% trans "for" %} {{ year|date:"Y"|default:year }}{% endif %}
  {% if month %}{% trans "for" %} {{ month|date:"F Y"|default:month }}{% endif %}
  {% if day %}{% trans "for" %} {{ day|date:"DATE_FORMAT"|default:day }}{% endif %}
  {% comment %}{% if category %}{% trans "for" %} {{ category }}{% endif %}{% endcomment %}
</h1>
{% endblock %}

{% block main %}
    <div class="hfeed newsfeed">
    {% for entry in object_list %}
        {% include 'elephantblog/entry_list_item.html' %}
    {% endfor %}
    <p><a href="{% url 'news_feed' %}" class="has-icon rss">Latest News Feed</a></p>
    </div>

    {% block pagination %}
    <div class="pagination">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
        {% endif %}
        page:
        {% for p in page_obj.page_range|default_if_none:page_obj.paginator.page_range %}
            {% if not p %}&hellip;
            {% else %}
                <a {% if p == page_obj.number and not page_obj.show_all_objects %}class="mark"{% endif %} href="?page={{ p }}">{{ p }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">&raquo;</a>
        {% endif %}
    </div>
    {% endblock %}

{% endblock %}
