{% load content_tags %}
{% get_degrees "ug" as degrees_list %}

{% include "include/filter.html" %}

<div class="wrap-major-minor right">
  <span class="MMC_label M" title="Major">M</span>ajor
  <span class="MMC_label m" title="Minor">m</span>inor
  <span class="MMC_label M" title="Concentration">C</span>oncentration
</div>

<div id="majors">{% include "include/degrees_result.html" %}</div>

<script type='text/javascript' src='//code.jquery.com/jquery-1.8.2.js'></script>
<script type="text/javascript">
    function go() {
        var title = $("#search-title").val();
        $.ajax({
            url: "/degrees_filter",
            type: "POST",
            dataType: "json",
            data: {
                title: title,
                // area: area,
                // mmc: mmc,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function (json) {
                // alert(json);
                $('#majors').html(json.server_response);
            },
            error: function (xhr, errmsg, err) {
                $('#majors').html(xhr.responseText);
            }
        });
        return false;
    }
</script>
