{% verbatim %}
<div class="app affordability_matrix" ng-app="SHCFinAidAfford">
    <div ng-controller="AffordCtrl">
   		<div class="app-wrapper">
			<script type="text/ng-template" id="/year_tpl.html">
				<h2 id="section_year_{{year}}">Year {{year}}</h2>
				<div ng-repeat="key in ['tuition','room_board', 'total_costs', 'total_aid', 'remaining', 'contributions', 'balance']">
					<div class="form-group"
						ng-class="user_costs(year)[key]['class']">
						<label for="{{key}}_{{year}}">{{user_costs(year)[key]['title']}}</label>
                        <div class="row collapse input-group">
                            <div class="small-1 columns">
                              <span class="prefix">{{user_costs(year)[key]['decorators'][0]}}</span>
                            </div>
                            <div class="small-10 columns">
                                <input class="form-control money"
    								id="{{key}}_{{year}}"
    								type="text"
    								ng-model="user_costs(year)[key]['amt']"
    								readonly
    								ng-class="{'credit':user_costs(year)[key]['amt'][0]!='-'}">
                            </div>
                            <div class="small-1 columns">
                              <span class="postfix">{{user_costs(year)[key]['decorators'][1]}}</span>
                            </div>
                        </div>
					</div>
				</div>
			</script>
			<script type="text/ng-template" id="/item_tpl.html">
				<div class="form-group" ng-class="{ 'has-error' : worksheetField.field.$invalid }">
					<ng-form name="worksheetField">
						<label for="field">
							{{item.title}}
						</label>
                        <div class="row collapse input-group">
                            <div class="small-1 columns">
                              <span class="prefix">{{item.decorators[0]}}</span>
                            </div>
                            <div class="small-10 columns">
                                <input class="form-control money"
                                    id={{item.id}}
                                    tooltip="{{item.help}}"
                                    tooltip-trigger="focus"
                                    tooltip-placement="right"
                                    aria-haspopup="true"
                                    name="field"
                                    type="number"
                                    ng-model="item.amt"
                                    integer
                                    min="{{item.validators.min || ''}}"
                                    max="{{item.validators.max || ''}}"
                                    step="{{item.validators.step || ''}}"
                                    >
                            </div>
                            <div class="small-1 columns">
                              <span class="postfix">{{item.decorators[1]}}</span>
                            </div>
                        </div>

						<span ng-repeat="(k,v) in item.validators"
							ng-if="worksheetField.field.$error[k]"
							class="errmsg">
							<span class="fa fa-exclamation-circle"></span> {{item.error_msg[k]}}
						</span>
					</ng-form>
				</div>
			</script>

			<div class="row">
				<div class="medium-12 columns">
					<div class="panel">
						<div ng-bind-html="ui.strings.messages.intro"></div>
						<!-- ALERTS and MESSAGES -->
						<!--[if lt IE 9]>
				            <div class="alert alert-danger" role="alert">Note: this application may not work properly in Internet Explorer 8 or lower.</div>
				        <![endif]-->
						<div ng-if="ui.alerts.length">
							<alert ng-repeat="alert in ui.alerts" type="{{alert.type}}" close="ui.closeAlert($index)">{{alert.msg}}</alert>
						</div>
					</div>
				</div>
			</div>
			<!-- ACTION BUTTONS -->
            <div class="row">
				<div class="medium-12 columns">
					<ul class="button-group">
						<li>
						    <a class="button small"
						        ng-if="ui.has_local_storage()"
						        ng-click="utils.save_local_data()"
						        tooltip="{{ui.actions.save.help}}"
						        tooltip-placement="top"
						        ng-class="{'disabled':worksheet.$pristine}">
						        <span class="fa fa-floppy-o"></span> {{ui.actions.save.get_txt()}}
						    </a>
						</li>
						<li>
						    <a class="button small"
						        ng-if="ui.has_local_storage()"
						        ng-click="utils.load_local_data()"
						        tooltip="{{ui.actions.load.help}}"
						        tooltip-placement="top"
						        ng-class="{'disabled':!ui.has_stored_data()}">
						        <span class="fa fa-floppy-o"></span> {{ui.actions.load.get_txt()}}
						    </a>
						</li>
						<li>
						    <a class="button small"
						        ng-if="ui.has_local_storage()"
						        ng-click="utils.clear_local_data()"
						        tooltip="{{ui.actions.clear.help}}"
						        tooltip-placement="top"
						        ng-class="{'disabled':!ui.has_stored_data()}">
						        <span class="fa fa-times-circle"></span> {{ui.actions.clear.get_txt()}}
						    </a>
						</li>
						<li>
						    <a ng-if="!ui.has_local_storage()"
						        tooltip="Drag this button into your bookmarks"
						        tooltip-placement="top"
						        class="button small"
						        href="{{utils.permalink()}}">
						        <span class="glyphicon glyphicon-link"></span>
						        Permalink to these results
						        <span class="fa fa-question-circle"></span>
						    </a>
						</li>
                        <li>
                            <a class="button small" id="start_tour">
        						<span class="fa fa-question-circle"></span> Help
        					</a>
                        </li>
					</ul>
				</div>
			</div>
			<!-- MAIN CONTENT -->
			<div class="row">
				<div class="medium-4 columns">
					<form name="worksheet" class="css-form" novalidate>
					<h2>Worksheet</h2>
					<h3>About You</h3>
					<select class="form-control" ng-model="user_data.data.selected_student_type.amt" id="student_type_select">
						<option ng-repeat="type in ['oncampus','offcampus','grad']" value="{{type}}">
							{{user_data.student_type[type]['title']}}
						</option>
					</select>
					<h3 id="finaid_block">Financial Aid</h3>
					<div ng-repeat="item in user_data.get_by_type('fin_aid')">
						<div ng-include="'/item_tpl.html'"></div>
					</div>
					<h3 id="user_contrib_block">User Contributions</h3>
					<div ng-repeat="item in user_data.get_by_type('user_contrib')">
						<div ng-include="'/item_tpl.html'"></div>
					</div>
					</form>
				</div>
				<div class="medium-8 columns">
					<div class="row">
						<div ng-repeat="year in [1,2]">
							<div class="medium-6 columns">
								<div ng-include="'/year_tpl.html'"></div>
							</div>
						</div>
					</div>
					<div class="row">
						<div ng-repeat="year in [3,4]">
							<div class="medium-6 columns">
								<div ng-include="'/year_tpl.html'"></div>
							</div>
						</div>
					</div>
					<div class="row buffer-top">
						<div class="medium-12 columns">
							<p class="pull-right">
								<a class="btn btn-default"
									tooltip="Drag this button into your bookmarks"
									tooltip-placement="top"
									href="{{utils.permalink()}}">
									<span class="glyphicon glyphicon-link"></span>
									Permalink to these results
								</a>
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row buffer-top">
				<div class="medium-6 columns">
					<h2 id="disclaimer">Important notice about this estimator</h2>
					<div ng-bind-html="ui.strings.messages.disclaimer"></div>
				</div>
				<div class="medium-6 columns">
					<h2 id="privacy">Privacy Notice</h2>
					<div ng-bind-html="ui.strings.messages.privacy"></div>
				</div>
			</div>
            <ol class="joyride-list" data-joyride>
                <li ng-repeat="item in ui.tour_stops" data-id="item.element" data-text="Next" data-options="tip_location: top; prev_button: false">
                    <h4>{{item.title}}</h4>
                    <p>{{item.content}}</p>
                </li>
            </ol>
		</div>
	</div>
</div>
{% endverbatim %}
