@import 'foundation/components/global';

.lg-outer {
    .lg-pager-outer {
        bottom: 68px;
        opacity: 0;
        &.lg-pager-hidden {
            opacity: 0;
            transition: opacity .5s;
        }
    }
    .lg-dropdown .heading {
        // From vendor CSS
        color: #333;
        display: block;
        white-space: pre;
        padding: 4px 12px;
        font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 12px;
        &:hover {
            cursor:default;
        }
    }
}

@media #{$medium-up} {
    .lg-outer .lg-pager-outer {
        opacity: 1;
        transition: opacity .5s;
    }
}

.lg-sub-html {
    transition: height .5s, background-color .5s;
    padding: 5px 40px 10px !important;
    line-height: 1.3;
    z-index: 1090;
    &.more {
        cursor: pointer;
        &.active {
            transition: height .5s, background-color .5s;
            background-color: rgba(0,0,0,.8);
        }
        &:after,
        &.active:after {
            position: absolute;
            display: block;
            content: "READ MORE \00BB";
            width: 100%;
            bottom: 0;
            left: 0;
            text-align: center;
            background: black;
            font-size: 12px;
        }
        &.active:after {
            content: "READ LESS \00BB";
        }
    }
}

@media #{$large-up} {
  .lg-sub-html {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    width: 70% !important;
    margin: 0 auto !important;
  }
}
