.article-list .banner-image {
    margin-bottom: 40px;
}

.article-list .story {
    margin-bottom: 40px;
    &.cover .title {
        margin-top: 20px;
    }
    &.news {
        margin-bottom: 10px;
    }
    &:first-of-type {
        margin-top: 30px;
    }
    .title {
        font-size: 1.4rem;
        line-height: 1.8rem;
        a {
            text-decoration: none;
        }
    }
    &.lead .title {
        margin-bottom: 10px;
    }
}

article.magazine {
    .story.cover img {
      margin: 0 0 20px;
    }
    h3.group_head {
        margin-top: 40px;
    }
    // img styles are in theme.scss
}

.magazine .issuu {
  border-top:1px solid #cdcdcd;
  padding-top: 30px;
  margin-top: 40px;
}

// add white space above first .news article link in sidebar
.side-nav :not(.news) + .news {
    margin-top: 40px
}
