.brady-bunch {
	margin: 30px 0;
}

.profile {
	> a {
		text-decoration: none !important;
	}
	p {
		color: #222;
	}
	.profile-title,
	.profile-sub {
		margin-bottom: 0;
		line-height: 1.4;
	}
	.profile-title {
		font-size: 1.2rem;
	}
	.brady-bunch & .profile-title {
		font-size: 1.4rem;
	}
	.profile-sub {
		font-family: $serif-font-family;
		font-size: 1rem;
		line-height: 1.5;
	}
	.blurb {
		margin-bottom: .1rem;
		line-height: 1.4;
	}
	hr {
		margin: .2rem 0;
	}
	a, span {
		&.more-link {
			text-decoration: none;
		}
	}
	.profile-page &,
    .profile-modal & {
		.profile-title {
			font-size: 2.25rem;
			margin-bottom: 0;
		}
		.profile-sub {
		  display: inline-block;
		  padding-bottom: 20px;
		}
		.profile-sub:first-of-type:after {
		  content: " |";
		  padding: 0 .3rem;
		}
	}
}

.panel.profile-panel {
	&:hover {
		background-color: $base-color;
		&,
		* {
			transition: 300ms;
		}
		p, a, .more-link  {
			color: $white !important;
		}
		.profile-title {
			color: $white;
		}
		small {
			color: $white;
		}
		img {
			@media only screen and (min-width: 40.063em) {
				transform: scale(1.05);
			}
		}
	}
}
