@import 'settings';
// @import 'bourbon';
@import  //'foundation/components/accordian',
'foundation/components/alert-boxes',
'foundation/components/block-grid',
'foundation/components/breadcrumbs',
'foundation/components/button-groups',
'foundation/components/buttons',
// 'foundation/components/clearing',
'foundation/components/dropdown',
'foundation/components/dropdown-buttons',
'foundation/components/flex-video',
'foundation/components/forms',
'foundation/components/global',
'foundation/components/grid',
// 'foundation/components/icon-bar',
// 'foundation/components/iconbar',
'foundation/components/inline-lists',
// 'foundation/components/joyride',
// 'foundation/components/keystrokes',
'foundation/components/labels',
'foundation/components/magellan',
'foundation/components/offcanvas',
// 'foundation/components/orbit',
// 'foundation/components/pagination',
'foundation/components/panels',
'foundation/components/pricing-tables',
// 'foundation/components/progress-bars',
// 'foundation/components/range-slider',
// 'foundation/components/reveal-new',
'foundation/components/reveal',
'foundation/components/side-nav',
// 'foundation/components/split-buttons',
'foundation/components/sub-nav',
// 'foundation/components/switches',
'foundation/components/tables',
'foundation/components/tabs',
// 'foundation/components/thumbs',
// 'foundation/components/toolbar',
'foundation/components/tooltips',
'foundation/components/top-bar',
'foundation/components/type',
'foundation/components/visibility',
'foundation/functions';

@mixin hide-text() {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

$fi-path: '/static/theme/vendor/font-awesome/fonts';
@import '../vendor/font-awesome/scss/font-awesome';

$slick-font-path: '/static/theme/vendor/slick/fonts/';
@import '../vendor/slick/slick';
@import '../vendor/slick/slick-theme';
@import 'lib';
// responsive gets imported at end of theme.scss!!!!!!!!!!!!!!!!!!
// @import 'responsive';

// $img_base_url: 'http://shc.edu.common.static.s3-website-us-east-1.amazonaws.com/images';
$img_base_url: '/media2/medialibrary/2018/08';

// TEMP HIGHLIGHT Giving
 .secondary-links a[href="/giving/"] {
     background: #fff ;
     color: #3d1951;
 }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $serif-font-family;
  line-height: 1.2;
}

h1 {
  small {
    // font-style: italic;
    text-transform: none;
    color: $gray-darker;
    font-size: 1.3rem;
    position: relative;
    bottom: .3rem;
  }

  &.e404 {
    font-size: 7rem;
    color: #3d1951;
  }
}

.panel .small * {
  font-size: 95%;
  line-height: 125%;
}

.hidden {
  display: none !important;
}

.page-content a:not(.button) {
  text-decoration: underline;

  &:hover {
    color: darken($primary-color, 10%);
    text-decoration: underline;
  }
}

.more-link {
    font-size: 1rem;
    text-transform: uppercase;
    color: $primary-color;
    &:after {
        content: '\00bb';
        position: relative;
        top: -.1rem;
        margin-left: .2rem;
    }
}

span.more-link {
    display: inline-block;
}

.request-info .button {
  font-size: 1.2rem;
  line-height: 1.4;
}

.wrap-home-banner,
.wrap-video-mod,
.wrap-about-content,
.wrap-future,
.wrap-actions-content {
  .button.expand {
    font-size: 1.25rem;
  }

  .title {
    margin-bottom: 10px;
    font-size: rem_calc(40px);
    line-height: 40px;
  }

  .sub-title {
    font-size: rem_calc(26px);
    line-height: 1.3;
    margin-bottom: 15px;
  }

  .description,
  .description p {
    font-size: rem_calc(20px);
    line-height: 1.25;
  }

  .item {
    &:last-of-type {
      margin-bottom: 0;
    }

    img {
      @include transition(all .2s linear);
      @include border-radius(50%);
      // display: block;
      // position: relative;
      @include scale(1, 1);
    }

    .wrap-img {
      @include border-radius(50%);
      border: solid 10px $gray;
      color: $base-color;
      overflow: hidden;
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      backface-visibility: hidden;
      position: relative;
    }
  }
}

.wrap-home-banner,
.wrap-home-banner .title {
  color: $gray-darker;
}

.wrap-about-content {
  .title {
    color: Black;
  }

  .about-us {
    margin-top: 35px;
  }
}

.wrap-home-banner {
  background: #3A75C4;
  color: $gray;
  border-bottom: solid 10px $base-color;
  position: relative;

  p, a, li {
    color: $white;
  }

  .content {
    display: block;
    padding: 10px 20px;

  }

  h2 {
    font-family: $body-font-family;
  }

  .title {
    font-size: rem_calc(26px);
    font-weight: bold;
    line-height: rem_calc(30px);
    color: $gray;
  }

  .banner-img {
    width: 100%;

    img {
      width: 100%;
    }
  }

  .banner-info {
    .button {
      margin: 20px 0 10px;
    }
    .banner-action {
        display: block;
        margin-top: 7px;
        font-size: 1rem;
        text-transform: uppercase;
    }

    p {
      font-size: rem_calc(20px);
      margin: 0;
      line-height: 28px;
      color: $white;
    }

    .banner-action {
      &:after {
        content: ' \0000BB';
      }
    }
  }
}

.wrap-actions-content,
.wrap-future,
.wrap-home-content,
.wrap-about-main {
  border-bottom: 1px solid #ccc;
}

.wrap-future,
.wrap-about-main {
  background: $gray;
}

.wrap-future {
  overflow: hidden;
  .button.expand {
      margin: 0 0 .5rem;
  }
  .content {
    max-width: 1000px;
  }

  .title {
    span {
      color: $gray-dark;
    }
  }

  .list-items {
    .item {
      padding: 20px;
      margin-bottom: 0;

      a {
        text-decoration: none;
        color: $blue;
        font-size: rem_calc(36px);
        line-height: 40px;
        margin-top: 0;
        display: inline-block;

        span {
          color: $gray-dark;
          display: block;
        }
      }
    }
  }
}

.wrap-future,
.wrap-home-content,
.wrap-actions-content {
  padding: 20px 0;
  .item {
    display: inline-block;
    img {
      display: block;
      position: relative;
    }
    .wrap-img {
      max-width: 100%;
      position: relative;
    }
    .title {
      display: inline-block;
      font-family: $serif-font-family;
      font-size: rem_calc(28px);
      line-height: 1.15;
      color: #457cb4;
      text-decoration: none;
      margin-top: 20px;
      margin-bottom: 10px;
      &:hover {
        text-decoration: underline;
        // color:$green;
      }
      .description {
        color: #444;
        margin: 0 auto;
        p {
          margin: 0;
        }
      }
    }
  }
}

.wrap-actions-content {
  background: $white;
  color: $black;
  text-align: center;
  .title {
    color: $black;
    margin-bottom: 30px;
  }
  .info {
    margin-bottom: 10px;
  }
  .item {
    text-align: center;
    .info a {
      color: $white;
      &:hover {
        color: $gray;
      }
    }
  }
}

.wrap-home-content {
  .title {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: rem_calc(30px);
  }
  .subtitle {
    font-size: 1.25rem;
  }
  .info {
    margin-top: 20px;
    a {
      margin-bottom: 10px;
    }
  }
}

.wrap-graphics {
  max-width: 1250px; 
  margin: 0 auto;
}

.wrap-map-main {
  background-image: url('/static/theme/images/map2.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.wrap-about-main {
  color: $black;
  .wrap-about-content {
    padding: 40px 0;
  }
  .description {
    margin-bottom: 30px;
  }
  .content {
    padding: 30px;
  }
  .button {
    margin-bottom: 0;
  }

}
.wrap-major-minor {
  margin-bottom: 15px;
  &>span {
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 5px;

    span {
      display: inline-block;
      vertical-align: middle;
      text-transform: uppercase;
      color: #6a6a6a;
      font-size: rem-calc(17);
      line-height: rem-calc(17);
      margin-left: 4px;
    }
  }
}

.wrap-quotes {
  background: #0070B9;
  padding: 2rem 0;

  .slick-dots {
  background: #0070B9;
  }
 }
.quote {
  padding: 0 1rem;
  color: $gray;
  &:before {
    display: inline-block;
    font-family: FontAwesome;
    content: $fa-var-quote-left;
    font-size: 32px;
    padding: 12px 5px 5px;
  }
  .content {
    padding-left: 48px;
    p {
      font-size: 28px;
      line-height: 1.25;
    }
  }

  .attribution {
    color: #fff;
    display: block;
    margin-top: 20px;
    text-align: right;
    font-size: 18px;
    line-height: 1.15;
    padding-bottom: 5px;
  }
}

.wrap-video-mod {
    background: #3d1951;
    margin-bottom: 20px;
    * {
        color: #FFF;
    }
    .button.secondary {
        color: #3d1951;
        background: White;
        font-weight: 700;
        margin-top: 20px;
    }
    .title {
        margin-top: 20px;
        font-size: 2rem;
    }
    .video-mod {
        padding: 35px 0;
        // padding: 20px 0 0 0;
    }
}

#videoModal {
    .button {
        margin-top: 20px;
    }
    h2 {
        margin-bottom: 30px;
    }
}

.slick-prev,
.slick-prev:hover,
.slick-next,
.slick-next:hover {
  z-index: 1000;
  position: absolute;
  box-shadow: none;
}

.slick-prev:before,
.slick-next:before {
  font-family: FontAwesome;
}

.slick-prev:before {
  content: $fa-var-angle-left;
}

.slick-next:before {
  content: $fa-var-angle-right;
}

.slick-prev,
.slick-prev:hover {
  left: -15px;
}

.slick-next,
.slick-next:hover {
  right: -15px;
}

.slick-dotted.slick-slider {
    margin-bottom: 0;
}

.slick-dots {
  bottom: -30px;
  background: #3d1951;
  border-bottom: 1px solid #5a2578;
  padding-bottom: 7px;
  li button {
    &:before {
      font-size: 15px;
    }
    &:hover {
      box-shadow: none;
    }
  }
  li.slick-active button:before,
  li button:before {
      color: white;
  }
}

.image-carousel {
    .slick-arrow {
        &:before, &:hover {
            position: absolute;
            top: 50%;
        }
        &:before {
            color: Black;
            font-size: 5rem;
        }
    }
    .slick-prev,
    .slick-prev:hover {
        left: -39px;
    }
    .slick-next,
    .slick-next:hover {
        right: -12px;
    }
}

.sidebar {
  .sub-title {
    text-transform: uppercase;
    font-size: rem-calc(30);
    line-height: 2.5rem;
    margin-bottom: 15px;
    // font-family: $font-family-roboto-regular;
  }
}

.sidebar-menu {
  list-style: none;
  margin: 0 0 20px;
  padding: 0;
  // font-family: $font-family-roboto-regular;

  &.base-color-type {
    &>li {
      &>a {
        color: $base-color;
        padding-left: 0;
      }
    }
    li {
      &.has-submenu {

        &>a {
          padding-right: 30px;

          &:after {
            margin-top: -12px;
            // @extend .icon-list-up;
          }
        }
        &:not(.open) {
          &>a:after {
            // @extend .icon-list-down;
            // @include rotate(0deg);
          }
        }
        &.open {
          &>ul {
            display: block;
          }
        }
      }
    }
  }

  li {
    margin: 0;
    padding: 0;
    border-bottom: solid 1px $gray;
    color: #0070b9;
    position: relative;
    // text-transform: uppercase;

    &:last-child {
      border-bottom: 0;
    }
    &:before {
      display: none;
    }

    &.has-submenu {
      &>a {
        &:after {
          content: '';
          position: absolute;
          right: 5px;
          top: 50%;
          margin-top: -2px;
          z-index: 2;
          // @extend .icon-arrow-menu-right;
        }
      }
      &:not(.open) {
        &>a:after {
          @include rotate(90deg);
        }
      }
      &.open {
        &>ul {
          display: block;
        }
      }
    }

    &.active {
      a {
        color: $black;
        background: $gray;

      }
    }

    span {
      display: block;
      // font-family: $font-family-roboto-regular;
      color: #0070b9;
      position: relative;
      &:hover {
        color: $black;
      }
    }

    a {
      text-decoration: none;
      color: #0070b9;
      display: block;
      padding: 10px 10px 10px 0;
      line-height: 30px;
      position: relative;
      font-size: rem_calc(20px);
      // font-family: $font-family-roboto-regular;

      &:hover {
        color: $black;
        background: $gray;
      }
    }

    ul {
      margin: 0;
      padding: 0;
      border-top: solid 1px $gray;
      display: none;
      li {
        a {
          padding-left: 20px;
        }
        ul {
          li {
            a {
              padding-left: 35px;
            }
            ul {
              li {
                a {
                  padding-left: 50px;
                }
              }
            }
          }
        }
      }
    }
  }
}

p {
  &:first-of-type {
    margin-top: 0;
  }
  // &:last-of-type {
  //   margin-bottom: 0;
  // }
}

p.emphatic,
.emphatic p {
  font-size: 1.25rem;
  color: #4d7027;
}

.discreet,
p.discreet {
  font-size: .95rem;
  color: #444;
}
.attribution,
p.attribution {
    color: #666;
    margin-top: -0.9rem;
    font-size: .85rem;
}

a.strong,
.strong a {
  font-weight: 700;
  font-size: 1.2rem;
}

dl {
  dt {
    margin-bottom: 0;
  }
  dd {
    padding-left: 1rem;
  }
}


blockquote, blockquote p {
  // font-size: .8rem;
}

ul.less-list {
  margin-bottom: .5rem;
}

.f-dropdown.more-list {
  li {
    cursor: auto;
    line-height: 1.5rem;
    &:hover {
      background: none;
    }
  }
}

.admin-links {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 1000;
  a.button {
    box-shadow: none;
    margin-bottom: 0;
  }
}

.search {
  a.show-search-button,
  button.search-button {
    background: $primary-color;
  }
  .fa-search {
    font-size: 1.2rem;
  }
}

// show/hide based on screen size
.desktop-nav,
.subheader,
.row.services,
.footer-wrapper {
  @extend .hide-for-small-only;
}

.mobile-nav {
  @extend .hide-for-medium-up;
}

.globalheader {
  .inline-list {
    margin-bottom: 0;
    * {
      margin-bottom: 0;
    }
  }
}

.tab-bar {
  background: $base-color;
  .menu-icon {
    z-index: 1000;
  }
}

.branding {
  max-width: 68em;
}

.desktop-nav,
.services-wrapper,
.branding-wrapper,
.main-nav-wrapper {
  background: $base-color;
}

.branding-wrapper {
  margin-bottom: 20px;
}

.main-nav-wrapper {
  border-top: 1px solid lighten($base-color, 10%);
}

.side-nav {
  @include side-nav(
    // Border color of divider
    $divider-color: '#ccc',
    // Font size of nav items
    $font-size:1.2em,
    // Color of navigation links
    $link-color:'#333',
    // Color of navigation links on hover
    $link-color-hover: '#444'
  );
  padding-top: 0;
  li {
    margin: 0;
    padding: 5px 0;
    a:not(.button) {
      padding: 4px;
      line-height: 1.2;
      &:focus, &:hover {
        @include menu-hover;
      }
    }
  }
  li.active>a:first-child:not(.button) {
    background: $primary-color;
    color: #FFF;
  }
}

.secondary-links.inline-list {
  margin-left: -.5rem;
}
.secondary-links.inline-list > li {
     margin-left: 0;
     margin-bottom: 8px !important;
}
.secondary-links.inline-list > li a {
     margin: 0 5px;
     padding: 2px 8px 1px;
     font-size: .9rem;
     border: 1px solid #ccc;
     @include menu-hover($color:#BBB);
}

.main-nav {
  max-width: 68em;
  @extend .top-bar-section;
  ul {
    background: $base-color;
    margin: 0;
    li {
      list-style-type: none;
      display: inline-block;
      > a {
        font-size: 1.0rem;
        color: #fff;
        text-align: center;
        white-space: nowrap;
      }
      &.active a {
        @include raised-box();
      }
    }
    li:not(.has-form) a:not(.button),
    dd a:not(.button),
    li.active a {
      @include menu-hover();
      padding: 0 1rem;
    }
    li:not(.has-form) a:not(.button) {
      // text-transform: uppercase;
      &:hover {
        background: darken($bland-color, 20%);
        text-shadow: #333 2px 2px;
      }
    }
  }
}

.desktop-nav .sub-nav {
  margin: 10px 0 0;
  &.actions-menu {
    margin-top: 4px;
    dd a {
      margin-right: 40px;
    }
  }
}

// .top-bar,
// .section-nav {
//   background: #fff;
// }

.section-nav {
  // margin-top: 6px;
  // &.fixed {
  //   margin-top: 0;
  // }
  &.fixed {
    box-shadow: 0 3px 11px #000;
    z-index: 1039;
  }
  &.fixed,
  &.fixed .top-bar {
    background: $base-color;
  }
}

#lg-download {
    display: none;
}

.do-jumplinks.no-bullets ul {
  @extend .no-bullet;
}

.do-jumplinks.inline-links,
.do-jumplinks.inline-links.bullets {
    ul {
        @extend .inline-list;
        & > li {
            margin-left: 0;
            &:first-of-type {
                margin-left: 0;
                padding-left: 0;
                a {
                    padding-left: 0;
                }
            }
        }
        & > li > a {
            display: inline-block;
            padding: 0 .5rem;
        }
    }
}
.do-jumplinks.inline-links.bullets {
    & ul {
        & > li {
            &:first-of-type {
                margin-left: 1.375rem;
            }
            &:after {
                content: "|";
            }
            &:last-of-type:after {
                content: "";
            }
        }
    }
}

.show-only-on-fixed {
  display: none !important;
  .fixed & {
    display: block !important;
  }
}

// .main-nav ul {
// width: auto;
// height: auto !important;
// display: inline;
// }
// .main-nav ul li {
// float: left;
// }
// .main-nav li:not(.has-form) a:not(.button),
// .main-nav dd a:not(.button),
// .main-nav li.active a {
// position: relative;
// top: 0;
// padding: 0 15px;
// line-height: 45px;
// }


// .services-wrapper {
//   @include auto-gradient($base-color);
// }

.search a.show-search-button {
  display: none;
  .services & {
    display: block;
  }
}

label[for="id_captcha"] {
    display: none;
    form[data-invalid] & {
        display: block;
    }
}

#div_id_captcha {
  margin-bottom: 1rem;
  label {
      display: none;
  }
  &.error label {
      display: block;
  }
}

.services {
  padding-top: rem-calc(10px);
  max-width: 68em;
  li a {
    color: #fff;
    font-size: 1rem;
  }
  #q-main-desktop, #q-main-offcanvas, .search-button {
    display: none;
  }
  #q-main-desktop, #q-main-offcanvas {
    float: right;
  }
  input, button, .button {
    margin-bottom: .5rem;
  }
}

/*
.promo {
  background: $base-color;
  padding: 10px;
  margin-bottom: 30px;
  text-align: center;
  .row {
    padding-top: 20px;
  }
  a {
    color: White;
  }
  h3 {
    font-style: normal;
  }
  p, h2, h3 {
    color: White;
  }
  .fa {
    font-size: 3.5rem;
    display: block;
    margin-bottom: 10px;
  }
}
*/

.dept-info {
  .parent-name, .org-name {
    display: none;
  }
}

.person .name {
  font-weight: 700;
}

.style-2 {
  background: $gray;
}

table .cost {
  text-align: right;
}

div.logo {
  a {
    display: block;
    background-image: url('#{$img_base_url}/shc-logo.png');
    background-position: center top;
    background-size: 302px auto;
    background-repeat: no-repeat;
    width: 302px;
    height: 74px;
    margin: 0 auto;
    color: $white;
    @include hide-text;
    // bourbon hide-text mixin was not pushing text off far enough
    text-indent: 200%;
  }
}

.subpage-list .th {
  margin-bottom: 1rem;
}

@mixin small-logo {
  // shorthand bg image with bg-size does not work properly on iOS6
  // use longhand here
  background-image: url('#{$img_base_url}/shc-logo-micro.png');
  background-position: left center;
  -webkit-background-size: 234px 45px;
  background-size: 234px 45px;
  background-repeat: no-repeat;
  width: 234px;
  height: 45px;
}

.logo {
  // use small logo in mobile navbar and
  .mobile-nav & {
    a {
      @include small-logo;
    }
  }

  .top-bar .title-area & {
    a {
      @include small-logo;
    }
  }
}

.fixed .top-bar {
  height: 72px;

  .title-area {
    margin: 0 1rem 0 0;
  }
}

.top-bar .name {
  .fixed & {
    margin-top: 10px;
  }

  h1 a {
    display: none;

    .fixed & {
      display: block;
    }
  }
}

.do-toc {
  // @extend .hide-for-medium-up;
  margin-bottom: rem-calc(10px);
}

// .sub-nav {
//   @each $bullet in dd, dt, li {
//     #{$bullet} {
//       @media #{$small-only} {
//         margin-left: 0;
//       }
//     }
//   }
// }

.fixed .sub-nav {
  @each $bullet in dd, dt, li {
    #{$bullet} {
      margin-left: 0;
      padding-left: 0;
    }
    #{$bullet} a {
      transition: all .3s;
      color: #FFF;
      padding: .1875rem .5rem;
    }
    #{$bullet}.active a {
      transition: all .3s;
      background: #FFF;
      color: #333;
    }
    #{$bullet} a:hover {
      transition: all .3s;
      // border-radius: 3px;
      background: lighten($bland-color, 10%);
      color: #111;
    }
  }
}

.section-nav.sticky.fixed .actions-menu dd a {
    margin-right: 0;
    padding: 2px 8px;
    border: 1px solid #ccc;
    border-radius: 0;
    margin: 0 10px;
}

// .contact-button a {
//   position: fixed;
//   right: -83px;
//   top: 40%;
//   background: #0070b9;
//   border: 2px solid #D8D9DA;
//   transform: rotate(270deg) ;
//   -webkit-transform: rotate(270deg) ;
//   -moz-transform: rotate(270deg) ;
//   -o-transform: rotate(270deg) ;
//   -ms-transform: rotate(270deg) ;
//   -moz-box-shadow: -3px 10px 5px #000000;
//   -webkit-box-shadow: -7px 10px 5px #000000;
//   box-shadow: -2px 2px 7px #000000;
//   color: White;
//   text-decoration: none;
//   padding: 20px 15px 50px 15px;
//   display: inline-block;
//   font-size: 130%;
//   transition:All 0.25s ease;
//   -webkit-transition:All 0.25s ease;
//   -moz-transition:All 0.25s ease;
//   -o-transition:All 0.25s ease;
//   &:hover {
//     background: #005a94;
//     right: -69px;
//   }
// }

.main-content {
  margin-top: rem-calc(10px);
  // .left-sidebar {
  //   // border-left: 1px solid #aaa;
  //   // background: $gray;
  //   @media #{$small-only} {
  //     // border-right: none;
  //     background: #fff;
  //   }
  // }
  .right-sidebar {
    border-left: 1px solid #aaa;
    @media #{$small-only} {
      border-left: none;
    }
  }
  @media #{$small-only} {
    margin-top: rem-calc(10px);
  }
}

@mixin blocker() {
  margin-bottom: rem-calc(20px);
  padding-bottom: rem-calc(20px);
  border-bottom: 1px solid #aaa;
}

label.required:after {
  content: '*';
  color: Red;
  padding-left: 5px;
}

.blocky {
  @include blocker;
}

.subcontent {
  border-top: 1px solid #aaa;
  padding-top: rem-calc(20px);
  padding-bottom: rem-calc(20px);
}

nav.breadcrumbs {
  @extend .show-for-medium-up;
  font-size: .9rem;
  a {
    &:after {
      content: ' >';
    }
    &[class|='current']:after {
      content: none;
    }
  }
  + hr {
    @extend .show-for-medium-up;
  }
}

.breadcrumbs > * {
  font-size: rem-calc(14px);
  text-transform: none;
}

.row-wrapper {
  margin-top: 30px;
}

.row.academic-area {
  margin-bottom: 30px;
  h2 {
    font-size: rem-calc(26px);
  }
  h2, h3 {
    margin-top: 0;
  }
  .emphatic p {
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1.3;
  }
  ul.majors-list {
    // @include columns(2);
    // @include column-gap(3rem);
    li {
      display: block;
      line-height: 1.2;
      a {
        display: inline-block;
        width: 100%;
        font-size: 1.2rem;
        padding: 5px 5px 3px;
      }
    }
    margin-left: 0;
  }
}

.academic-area-banner {
  position: relative;
  h2 {
    position: absolute;
    top: 5px;
    left: 10px;
    z-index: 95;
    color: White;
  }
}

.responsive .medium-up {
  position: relative;
  max-height: 350px;
  overflow: hidden;
  width: 100%;
  .video {
    overflow: hidden;
    position: relative;
    video {
      width: 100%;
    }
  }
  .overlay {
    position: absolute;
    left: rem-calc(10px);
    bottom: 0;
    h2 {
      color: #FFF;
    }
  }
}

.app.counselor-map {
  margin-bottom: 40px;
  #map-canvas {
    height: 500px;
  }
}

ul.subpage-list {
  .th {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.rendered-textile p:empty {
  display: none;
}

// ul.media-file-list {
//   line-height: 1.3;
//   margin-left: 0;
//   li {
//     list-style-type:none;
//     a {
//       font-size:1.4rem;
//     }
//     i {
//       font-size: 3rem;
//       margin-right: 10px;
//       position:relative;
//       top:.5rem;
//     }
//     small {
//       font-size: 70%;
//     }
//   }
// }

.media-file-list {
  margin-top: 30px;
  .image {
      width: 100%;
  }
  li {
    .inner {
      border: 1px solid #ccc;
      padding: .5rem;
    }
    a {
      font-size: 1.1rem;
      line-height: 1.4;
      text-align: center;
    }
    i, span, small {
      display: block;
    }
    small {
      font-size: 70%;
      margin-top: 7px;
    }
    a .has-icon {
      font-size: 3.5rem;
    }
  }
}

/* icons */

span {
  &.icon-pdf:before {
    content: $fa-var-file-pdf-o;
    font-family: FontAwesome;
  }
  &.icon-jpg, &.icon-jpeg, &.icon-png, &.icon-gif {
    content: $fa-var-picture-o;
    font-family: FontAwesome;
  }
}

// a.new-window.has-icon:before {
//   content: $fa-var-external-link;
//   font-family: FontAwesome;
//   padding-left: .5rem;
//   font-size: .9rem;
// }

.floating-return:after {
  content: $fa-var-arrow-up;
  font-family: FontAwesome;
}

#button-open-acad-info-req-form:before {
  content: $fa-var-info-circle;
  font-family: FontAwesome;
  padding-right: .5rem;
  }

.has-icon:before,
.has-icon:after {
  font-family: FontAwesome;
}

.has-icon:before {
    padding-right: .5rem;
}

.has-icon {
  &.standalone {
    font-size: 3rem;
    display: inline;
    margin-right: 1rem;
    color: #3d1951;
  }
  &.comments:before {
    content: $fa-var-comments-o;
  }
  &.emergency:before {
    content: $fa-var-exclamation-circle;
    padding-right: 1rem;
    font-size: 3rem;
    vertical-align: middle;
  }
  &.envelope:after {
    content: $fa-var-envelope;
  }
  &.facebook:before {
    content: $fa-var-facebook-square;
  }
  &.flickr:before {
    content: $fa-var-flickr;
  }
  &.home:before {
    content: $fa-var-home;
  }
  &.instagram:before {
    content: $fa-var-instagram;
  }
  &.map:before {
    content: $fa-var-map;
  }
  &.news:before {
    content: $fa-var-newspaper-o;
  }
  &.pdf:before {
    content: $fa-var-file-pdf-o;
    padding-right: .5rem;
  }
  &.phone:before {
    content: $fa-var-phone;
  }
  &.rss:before {
    content: $fa-var-rss;
  }
  &.search:after {
    content: $fa-var-search;
  }
  &.snapchat:before {
    content: $fa-var-snapchat-square;
  }
  &.twitter:before {
    content: $fa-var-twitter-square;
  }
  &.users:before {
    content: $fa-var-users;
  }
  &.youtube:before {
    content: $fa-var-youtube-square;
  }
}

.newsfeed {
  .entry-title {
    margin-bottom: 0;
    font-size: 1.2rem;
  }
  time {
    font-size: 1rem;
    position: relative;
    top: -10px;
  }
  .small {
    font-size: .9rem;
    color: #333;
  }
  .vcard {
    width: 100%;
    margin-bottom: .5rem;
    border: none;
  }
  article.hentry {
    margin-top: .5rem;
    p a {
      display: inline-block;
      padding: .1rem 0;
      line-height: 1.4;
    }
  }
  .rss {
    color: White;
    background: #F60;
    padding: 5px 10px;
    text-decoration: none !important;
    &:before {
      color: #FFF;
      padding-right: .5rem;
    }
  }
  .more {
    margin-top: 1rem;
  }
}

.source {
  em {
    font-style: normal;
    color: #666;
  }
  &:before {
    content: '(';
  }
  &:after {
    content: ')';
  }
}

.wrap-alert {
    background: #c92416;
    color:White;
    .content {
        a {
            color: #ddd;
            text-decoration: underline;
            &:hover {
                color: White;
                text-decoration: none;
            }
        }
    }
}

.pagination {
  margin-top: 40px;
}

table {
  width: 100%;
  &.col-wide-first th:first-of-type {
    width: 75%;
  }
  &.row-important-last tr:last-child {
    font-weight: 700;
  }
}

.testimonials {
  img {
    float: left;
    margin-right: 20px;
  }
  p.attribution:before {
    // put em-dash and en-space before each attribution
    content: '\2014\2002';
  }
  p.attribution {
    position: relative;
    top: -1em;
    text-align: right;
    color: #444;
    padding-right: 2em;
  }
}

.testimonial blockquote .image {
  position: relative;
  color: White;
  font-size: 3rem;
  width: 100%;
  background: $secondary-color;
  padding-left: 50px;
  i {
    position: absolute;
    top: 0;
    left: 10px;
  }
}

.testimonial.simple {
  img {
    float: left;
    margin-right: 20px;
  }
}

.simple-course-listing td:first-of-type {
  width: 20%;
}

.block-grid.spotlights {
  .grid-content {
    padding: 1rem;
    h3 {
      font-size: 1.5rem;
      color: White;
    }
  }
  .style1 .inner {
    background: #3d1951;
    color: White;
  }
  
  .style2 .inner {
    background: #0F70B8;
    color: White;
  }
  
  .style3 .inner {
    background: #81BD41;
    color: White;
  }

}

h1 .MMC_label {
  vertical-align: middle;
}

.MMC_legend {
  p {
    margin-bottom: rem-calc(5px);
  }
}
.MMC_label {
  text-transform: none !important;
  a {
    color: #FFF !important;
  }
  &.M {
    @include label(
      $bg:$base-color
    );
  }
  &.m {
    @include label(
      $bg:$primary-color
    );
  }
  &.C,
  &.Ce {
    @include label(
      $bg:$secondary-color
    );
  }
}

.wrap-major-minor .MMC_label {
  &.M,
  &.m,
  &.C {
    margin-right: 0;
  }
}


.fastfacts {
  // if fastfacts is in it's own block, highlight it
  @include panel(
    $bg: $secondary-color,
    $adjust: true
  );
  ul {
    margin-left: 0;
    li {
      display: inline-block;
      margin-bottom: 8px;
    }
  }
  li {
    display: inline-block;
    margin-bottom: 5px;
  }
}

.pullout {
  background: $gray;
  color: $primary-color-dark;
  border-left: 2px solid $primary-color;
  .huge {
    font-size: 200%;
    line-height: 1.1;
    color: $secondary-color-dark;
  }
}

.panel.light {
  @include panel(
    $bg: #fff,
    $adjust: true
  );
  width: 70%;
  margin: 40px auto 0;
}

.panel.highlight {
    background: #3A75C4;
    padding: 2rem 4rem;
    dl, h1, h2, h3, h4, h5, h6, li, p {
        color: #FFF;
    }
}


.globalfooter {
  h2, h3 {
    color: #FFF;
  }
}

.footer-top {
  background: $base-color;
  a {
    @include menu-hover;
  }
  a:link {
    color: #fff;
  }
  a:visited {
    color: #fff;
  }
  a:hover {
    color: $primary-color;
  }
  a:active {
    color: #ccc;
  }
}

.row-wrapper.panel {
  margin-bottom: 0;
}

footer {
  a {
    &:link {
      color: $white;
    }
    &:visited {
      color: #ddd;
    }
    &:hover {
      color: lighten($secondary-color, 10%);
      text-decoration: underline;
    }
    &:active {
      color: lighten($secondary-color, 10%);
    }
  }
  ul {
    @extend .no-bullet !optional;
  }
  .footer-bottom {
    padding-top: 20px;
    background: $gray-darker;
    .physical-address {
      text-align: center;
      color: $white;
      .tel {
        padding-left: 10px;
      }
    }
  }
}


// Visual enhancements
// .masked_image_wrapper,
.academic-area-banner {
  position: relative;
  margin-bottom: rem-calc(20px);
  // .image-banner {
  //   width: 100%;
  //   // height: 100%;
  // }
  // @media #{$medium-up} {
  //   .image_mask {
  //     background: url('#{$img_base_url}/common/lg-rounder-mask.png');
  //   }
  // }

  // .image_mask,
  .text-mask {
    @include top-shade-gradient(.5, 60%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 101%;
    background-size: 100% 100%;
  }
}

.panel {
  background: $gray;
  h2 {
    border-bottom: 1px solid #d8d8d8;
    padding-bottom: .5rem;
  }
}

[data-magellan-expedition] .sub-nav {
  background: #e3e3e3;
  a {
    &:link,
    &:visited,
    &:hover,
    &:active {
      color: #666;
    }
  }
}

[data-magellan-expedition] .banner-sub-nav {
  padding-left: 20px;
  dd,
  dd a {
    padding-right: .5rem;
    margin-left: 0;
    margin-right: 0;
  }
  dd:first-of-type {
    margin-left: 0;
    padding-left: 0;
  }
  dd:first-of-type::before {
    // content: 'jump to:';
  }
}

button, .button {
  @include button-size($padding:$button-sml);
  @include menu-hover;
  small {
    font-size: .9rem;
    color: $gray;
  }
}

button.important, .button.important {
  // @include button(
  //   $bg: $secondary-color
  // );
  line-height: 1.4;
  font-size: rem-calc(20px);
}

p a.button {
  margin-bottom: 0;
}

p.small {
  font-size: .9rem;
  color: #666;
}

.vcard {
  width: 100%;
}

.th.left {
  margin-right: rem-calc(20px);
}

.floating-return {
  position: fixed;
  display: none;
  opacity: .6;
  bottom: 10px;
  right: 10px;
  background: #333;
  cursor: pointer;
  font-size: 1.5rem;
}

ul.social-menu {
  margin-bottom: 0;
  > li {
    margin-left: .55rem;
  }
  a {
    text-decoration: none;
    font-size: 2.8rem;
    line-height: 150%;
  }
}

.globalfooter .purpleup {
  color: white;
  position: relative;
  font-size: 36px;
}

.left-off-canvas-menu {
  .left-submenu {
    height: 100%;
  }
  ul.social-menu {
    padding-left: .66667rem;
    .fa {
      font-size: 2.5rem;
    }
    li a {
      color: #FFF;
    }
  }
}

.off-canvas-list {
  .active {
    border-left: 5px solid $primary-color;
  }
  .sub a {
    padding-left: 20px;
  }
  &.no-active .active {
    border-left: none;
    a {
      color: inherit;
      font-weight: bold;
      background-color: inherit;
    }
  }
}

ul.tabs {
  li {
    &.active a {
      background: $secondary-color;
      color: #fff;
      font-weight: bold;
    }
    > a {
      background: #fff;
      padding: .5rem 1rem;
    }
    img {
      width: 50px;
    }
  }
}

.tabs-content {
  @media #{$small-only} {
    margin-top: rem-calc(10px);
  }
}
// article.hentry .entry-content .image-banner-wrapper {
//     &, & img {
//         width: 100%;
//         max-width: 100%;
//         height: auto;
//     }
// }

.image-wrapper.inline,
.image-wrapper.default {
  float: none;
  width: 100%;
  max-width: 100%;
  margin: 30px 0;
  img,
  .caption,
  .copyright {
    width: 70%;
    display: block;
    margin: 0 auto;
  }
  .caption {
    font-size: 14px;
  }
  img.landscape,
  img.landscape + .caption {
    width: 70%;
    max-width: 70%;
  }
  img.portrait,
  img.portrait + .caption {
    width: 50%;
    max-width: 50%;
  }
}

.image-wrapper.inline {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 30px 0;
}

.image-wrapper.headshot {
  width: 35%;
}

.image-wrapper.banner {
  width: 100%;
  max-width: 100%;
  margin: 30px 0;
  img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
  img,
  .caption {
    display: block;
    margin: 0 auto;
  }
}

.image-wrapper.responsive {
  float: none;
  margin: 30px 0;
  img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
  img,
  .caption {
    display: block;
    margin: 0 auto;
  }
  .caption {
    font-size: 14px;
  }
  img.landscape,
  img.landscape + .caption {
    width: 70%;
    max-width: 70%;
  }
  img.portrait,
  img.portrait + .caption {
    width: 50%;
    max-width: 50%;
  }
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.image-wrapper.captioned .caption {
  display: block;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #666;
}

.image-wrapper:not(.captioned) .caption {
  display: none !important;
}

.image-wrapper.copyright .caption {
  margin-top: 10px;
}

.image-wrapper.copyright .copyright {
  text-align: right;
  text-transform: uppercase;
  color: #666;
  margin-top: 4px;
  font-size: .9rem;
}


article.hentry {
  .image-wrapper.responsive {
    border: 1px solid;
    border-color: #cdcdcd transparent;
    padding: 15px 0;
    margin: 15px 0;
  }
}

// fake thumbor image sizes for testing
img {
  &.image-thumb {
    width: 120px;
  }
  &.image-thumb_sq {
    width: 120px;
    height: 120px;
  }
  &.image-mid {
    width: 300px;
  }
  &.image-full {
    width: 660px;
  }
}

.video-banner {
  background-color: $iron;
  background-image: url('/static/theme/images/icons/gear.gif');
  background-repeat: no-repeat;
  background-position: center center;
  video {
    width: 100%;
  }
  &.home-banner {
    margin-bottom: 0;
  }
}

.flex-video:before {
  font-size: rem_calc(30px);
  color: #aaa;
  width: 100%;
  text-align: center;
}

.outcomes h2 {
  font-size: 1rem;
  font-family: $body-font-family;
}

.wrap-countdown {
  background: #0070B9;
  padding-top: 4em;
  padding-bottom: 4em;
}

.badger-day {
  font-size: 2.75rem;
  font-weight: 600;
  color: white;
  margin-bottom: -10px;
  text-transform: uppercase;
  margin-top: 1em;
  line-height: 1.5em;
}

.badger-day-date {
  font-size: 1.5rem;
  font-weight: lighter;
  color: white;
  text-transform: uppercase;
}

.badger-day-button {
  color: #0070B9;
  background: white;
  padding: .75em 1em .75em 1em;
  text-transform: uppercase;
  border: 1px solid transparent;
  &:hover {
    color: white;
    background: #0070B9;
    border: 1px solid white;
  }
}

.video-grid {
  .video-block-wrapper {
    padding: .5rem 0 !important;
    * {
      color: White;
    }
    a:hover {
      color: #ccc;
    }
  }
  &.vg-big {
    padding-bottom: 30px;
  }
  &.vg-small {
    h2 {
      font-size: 1.1rem;
    }
    .description {
      font-size: .85rem;
      line-height: 1.3;
    }
  }
}

.wrap-video-mod .title {
  text-align: center;
}

.countdowntimer, 
.time-titles {
  div {
    text-align: center;
  }
}

.countdowntimer {
  color: white;
  margin-top: 2.5em;
  max-width: 50em;
  div {
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 900;
    &:nth-last-child(n+2) {
      border-right: 1px solid white;
    }
  }
  span {
    text-transform: uppercase;
  }
}

@media #{$medium-up} {
  .countdowntimer div {
    font-size: 3rem;
    line-height: 4rem;
  }
}

@media #{$small-only} {
  .countdowntimer div {
    font-size: 2.5rem;
    line-height: 3rem;
  }
  .time-titles {
    div {
      font-size: 80%;
    }
  }
}

.time-titles {
  max-width: 50em;
  margin-bottom: 1em;
  div {
    color: white;
    text-transform: uppercase;
  }
}

// @media only screen and (min-width: 40.063em) {
//   .countdowntimer div:nth-last-child(n+4) {
//     border-right: 1px solid white;
//   }
// }

// @media only screen and (min-width: 1200px) {
//   .wrap-countdown {
//     background: url("/static/theme/images/countdown_background.jpg") no-repeat center;
//     background-size: cover;
//   }
// }


@mixin icons {
  background-repeat: no-repeat;
  background-color: transparent;
  display: inline-block;
  vertical-align: middle;
  &:before {
    content: '' !important;
  }
}

@mixin icon-freshman {
  @include icons;
  background-image: url('/static/theme/images/icons/icon-freshman.png');
  background-position: 0 0;
  width: rem(100);
  height: rem(100);
}

.icon-freshman {
  @include icon-freshman;
}

@mixin icon-transfer {
  @include icons;
  background-image: url('/static/theme/images/icons/icon-transfer.png');
  background-position: 0 0;
  width: rem(100);
  height: rem(100);
}

.icon-transfer {
  @include icon-transfer;
}

@mixin icon-graduate {
  @include icons;
  background-image: url('/static/theme/images/icons/icon-graduate.png');
  background-position: 0 0;
  width: rem(124);
  height: rem(100);
}

.icon-graduate {
  @include icon-graduate;
}

.wrap-graphics {
     margin-top: 40px
 }

 .wrap-graphics h3 {
    text-transform: uppercase;
    font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
    font-size: 2.3rem;
}

.wrap-graphics .copy {
    font-size: 1.5rem;
    line-height: 1.2
}

@import 'magazine';
@import 'profiles';

.panel.profile-panel:hover .more-link {
  color: White;
}


hr {
  .md {
    height:4px;
  }
  .green {
    color:#68A328; 
    background-color:#68A328; 
  }
}

@import 'responsive';
