<div class="postscript">
	<p>Submit corrections at http://www.shc.edu/directory/update/<br><small>(you must be logged in to your SHC Google account)</small></p>
	<p>Revision: {% now "DATETIME_FORMAT" %}</p>
</div>
