{% extends "default-nocache.html" %}
{% block page_title %}
	<h1 class="e404">404</h1>
	<h2>Oooops we can't find that page!</h2>
{% endblock %}
{% block content %}
	<p>You may want to try a Google search. We have dropped some recommended search terms in the box below. Click the search button to try it.</p>
	{% include "partials/common/searchbox.html" with not_found="not_found" %}
	{% include "partials/common/google-cse-results.html" %}
{% endblock %}