{% load util_tags content_tags %}
<!doctype html>
<html class="no-js{% if debug %} debug{% else %} prod{% endif %}{% if not user.is_authenticated %} anon{% endif %}" lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" /> {% if feincms_page.excerpt_text %}
    <meta name="description" content="{{ feincms_page.excerpt_text }}" /> {% endif %}
    <link rel="shortcut icon" href="/static/theme/images/icons/favicon.gif" type="image/gif">
    <title>{% block meta_title %}{% get_blog_or_page_title entry feincms_page %} | {{ site_name }}{% endblock %}</title>
    <meta name="revisit-after" content="1 day">
    <meta property="og:title" content="{% get_blog_or_page_title entry feincms_page %} | {{ site_name }}" />
    <meta property="og:description" content="{% get_blog_or_page_blurb entry feincms_page %}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ base_url }}{{ feincms_page.get_absolute_url }}" />
    {% if entry %}
      {% get_content_images entry 3 as image_urls %}
    {% else %}
      {% get_content_images feincms_page 3 as image_urls %}
    {% endif %}
    {% for image in image_urls %}
    <meta property="og:image" content="{{ base_url }}{{ image }}" />
    {% endfor %}
    {% if debug %}
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}theme/styles/theme.css">
    <script src="{{ STATIC_URL }}theme/vendor/modernizr/modernizr.js"></script>
    {% else %}
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}theme/styles/theme.min.css">
    <script src="{{ STATIC_URL }}theme/vendor/modernizr/modernizr.min.js"></script>
    {% endif %}
    <link href="https://fonts.googleapis.com/css?family=Cardo|Roboto" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="{{ STATIC_URL }}theme/vendor/html5shiv.min.js"></script>
    <![endif]-->

    <!--[if IE 9]>
      <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}theme/styles/ie9.css">
    <![endif]-->
    {{ feincms_page.content.media.render_css|join:'' }}
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    {% block extra_head %}{% endblock %}
    {% comment %} Load GA and Optimize for anon users {% endcomment %}
    {% if not debug and not user.is_authenticated %}
    {% comment %}Google Optimize page flickering minimizer{% endcomment %}
    <style>.async-hide { opacity: 0 !important} </style>
    <script>(function(a,s,y,n,c,h,i,d,e){s.className+=' '+y;h.start=1*new Date;
    h.end=i=function(){s.className=s.className.replace(RegExp(' ?'+y),'')};
    (a[n]=a[n]||[]).hide=h;setTimeout(function(){i();h.end=null},c);h.timeout=c;
    })(window,document.documentElement,'async-hide','dataLayer',4000,
    {'GTM-PQX57DD':true});</script>
    <script>
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-1314843-5', 'auto');
        ga('require', 'GTM-PQX57DD');
        ga('require', 'linkid', {
            'levels': 5
        });
        ga('send', 'pageview');
    </script>

    <!-- Google Tag Manager EchoDelta -->
    <script>(function (w, d, s, l, i) {
        w[l] = w[l] || []; w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        }); var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-MMFBC2D');</script>
    <!-- End Google Tag Manager -->

    <!-- Google Tag Manager Carnegie -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MF23LS2');</script>
    <!-- End Google Tag Manager -->

    <!-- Tag for Activity Group: retargeting, Activity Name: DNR_Retargeting, Activity ID: 8378158 -->
    <!-- Expected URL: https://www.shc.edu/ -->
    
    <!--
    Activity ID: 8378158
    Activity Name: DNR_Retargeting
    Activity Group Name: retargeting
    -->
    
    <!-- 
    Start of global snippet: Please do not remove
    Place this snippet between the <head> and </head> tags on every page of your site.
    -->
    <!-- Global site tag (gtag.js) - Google Marketing Platform -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=DC-9234558"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'DC-9234558');
    </script>
    <!-- End of global snippet: Please do not remove -->

    <script type="text/javascript" src="//script.crazyegg.com/pages/scripts/0077/4069.js" async="async"></script>
    <!-- Facebook Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '348021402654381');
        fbq('track', 'PageView');
    </script>

    <!-- Start of HubSpot Embed Code -->
    <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/7836368.js"></script>
    <!-- End of HubSpot Embed Code -->

    <noscript>
        <img height="1" width="1" src="https://www.facebook.com/tr?id=348021402654381&ev=PageView
    &noscript=1" />
    </noscript>
    <!-- End Facebook Pixel Code -->
    <!-- Snap Pixel Code -->
    <script type='text/javascript'>
        (function(e,t,n){if(e.snaptr)return;var a=e.snaptr=function()
        {a.handleRequest?a.handleRequest.apply(a,arguments):a.queue.push(arguments)};
        a.queue=[];var s='script';r=t.createElement(s);r.async=!0;
        r.src=n;var u=t.getElementsByTagName(s)[0];
        u.parentNode.insertBefore(r,u);})(window,document,
        'https://sc-static.net/scevent.min.js');
        snaptr('init', 'acaabb5e-0205-4ce4-a158-73cbf79a741e', {
        'user_email': '__INSERT_USER_EMAIL__'
        });
        snaptr('track', 'PAGE_VIEW');
    </script>
    <!-- End Snap Pixel Code -->
    {% endif %}
</head>

<body id="body">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MF23LS2"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!-- Google Tag Manager EchoDelta (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MMFBC2D" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <!--[if lt IE 9]>
      {% include "partials/browsers/ie-lt9.html" %}
    <![endif]-->
    <a href="#main-content" class="skip-nav show-for-sr">Skip to content</a>
    {% block body %} {% endblock %}
    {% comment %}
    {% if debug %}
    <script>
        // load livereload.js based on current URL
        // change of port requires an awkward URL split
        var url = document.URL;
        // split on 3rd "/" then on second ":" (if present)
        url = url.split("/", 3).join("/").split(":", 2).join(":") + ":35729/livereload.js";
        var element = document.createElement("script");
        element.src = url;
        document.body.appendChild(element);
    </script>
    <noscript>
        <h2>Analytics is not enabled</h2>
        <p>We use Google Analytics to provide a better user experience. Enabling javascript will allow us to serve you better.</p>
    </noscript>
    {% endif %}
    {% endcomment %}
    {% if debug %}
    <script src="{{ STATIC_URL }}theme/scripts/lib.all.js"></script>
    <script src="{{ STATIC_URL }}theme/scripts/app.all.js"></script>
    {% else %}
    <script src="{{ STATIC_URL }}theme/scripts/lib.min.js"></script>
    <script src="{{ STATIC_URL }}theme/scripts/app.min.js"></script>
    {% endif %}
    {{ feincms_page.content.media.render_js|join:'' }}
    {% block scripts %} {% endblock %}
    <noscript>
        <h2>Javascript is not enabled</h2>
        <p>This Website relies on javascript to present certain kinds of information. Please enable javascript to access all content on this site.</p>
    </noscript>
</body>

</html>
