{% extends "base.html" %}
{% load feincms_tags feincms_page_tags navigation_tags elephantblog_tags %}
{% block body %}
    {% if 'page' in perms %}
        {% include "partials/menus/admin-menu.html" %}
    {% endif %}
    <div class="main-page">
        <div class="off-canvas-wrap" data-offcanvas>
            <div class="inner-wrap">
                <div class="wrap-content main-body">
                  {% elephantblog_entries limit=1 category=9 as emergency %}
                  {% if emergency %}
                  <div class="wrap-alert">
                    <div class="row">
                      <div class="medium-10 small-centered columns content text-center" style="padding-top: 1rem;">
                        {% feincms_render_region emergency.0 "main" request %}
                      </div>
                    </div>
                  </div>
                  {% endif %}
                  <aside class="left-off-canvas-menu">
                      <div data-interchange="[/render_template/{{ feincms_page.id }}/interchange/main_nav/off-canvas-menu.html, (small-only)]">
                          <!-- no default content -->
                      </div>
                  </aside>

                    {% block global_header %}
                    <!-- main header here -->
                    {% include "partials/globalheader.html" %} {% endblock %}
                    <!-- Off Canvas Menu -->
                    {% is_root feincms_page as is_root %}
                    <!-- breadcrumbs here -->
                    {% if not is_root %}
                    <div class="wrap-breadcrumbs row">
                        <p class="show-for-sr">You are here:</p>
                        {% feincms_breadcrumbs feincms_page %}
                    </div>
                    {% endif %}
                    <div id="main-content">
                        {% block content_wrapper %}
                        {% endblock %}
                    </div>
                </div>
                <!-- footer here -->
                <div class="globalfooter">
                    {% include "partials/globalfooter.html" %}
                </div>
                <!-- close the off-canvas menu -->
                <a class="exit-off-canvas"><span class="show-for-sr">Close menu</span></a>
                <!-- return to top -->
                <span class="label radius floating-return"></span>
            </div>
            <!-- /inner-wrap -->
        </div>
    </div>
{% endblock %}
