{% extends "default.html" %}
{% load feincms_page_tags content_tags util_tags blog_widgets feincms_thumbnail %}


{% block page_title %}{% endblock %}

{% block global_header %}
	<!-- main header here -->
	{% feincms_nav feincms_page level=1 depth=1 as links %}
	{% include "partials/globalheader.html" with sublinks=links show_on_sticky=True %}
	<!-- Markup for Google Site Links search box -->
	<script type="application/ld+json">
	{
		"@context": "http://schema.org",
		"@type": "WebSite",
		"url": "http://www.shc.edu/",
		"potentialAction": {
			"@type": "SearchAction",
			"target": "https://www.shc.edu/search?q={search_term_string}",
			"query-input": "required name=search_term_string"
		}
	}
	</script>
{% endblock %}

{% block subheader %}
{% endblock %}

{% block content_wrapper %}
	<h1 class="show-for-sr">Spring Hill College Homepage</h1>
	{% include "partials/home/carousel.html" %}
	
	<div class="wrap-video-mod">
		<div class="row video-mod">
			<div class="medium-6 columns">
				<div class="video-container">
					<a href="https://www.shc.edu/media/admiss/WTTH/CampusTour" target="_blank">
						<img src="/static/theme/images/home/VirtualTour_graphic500x250.jpg" alt="Virtual tour banner" title="Take our virtual campus tour and get a real feel for life at Spring Hill College"/>
						<span class="show-for-sr">Take our virtual campus tour and get a real feel for life at Spring Hill College</span>
					</a>
				</div>
			</div>
			<div class="medium-6 columns">
				<a href="/wtth/">
					<img src="/static/theme/images/home/WTTH_graphic500x250.jpg" alt="WTTH banner" title="Welcome to The Hill - New videos to make your Spring Hill decision easier!"/>
					<span class="show-for-sr">Welcome to The Hill - New videos to make your Spring Hill decision easier!</span>
				</a>
			</div>
		</div>
	</div>

	{% comment %} 
	<div id="homeTakeoverModal" class="reveal-modal xlarge" data-reveal aria-labelledby="modalTitle" aria-hidden="true"
		role="dialog">
		<a href="/admissions/visit/badger-day/">
			<div class="show-for-xlarge-up">
				<img src="/static/theme/images/home/GiveDay_takeovergraphic_1200w.jpg" class="img-responsive" />
			</div>
			<div class="show-for-large-only">
				<img src="/static/theme/images/home/GiveDay_takeovergraphic_1000w.jpg" class="img-responsive" />
			</div>
			<div class="show-for-medium-only">
				<img src="/static/theme/images/home/GiveDay_takeovergraphic_900x900.jpg" class="img-responsive" />
			</div>
			<div class="show-for-small-only">
				<img src="/static/theme/images/home/GiveDay_takeovergraphic_600x800.jpg" class="img-responsive" />
			</div>
		</a>
		<a class="close-reveal-modal" aria-label="Close">&#215;</a>
	</div>
	{% endcomment %}

	{% get_home_features "home_aud" 3 as features %}
	{% if features %}
	<div class="wrap-future">
		<div class="row">
			<div class="small-12 columns">
				<h2 class="title">I <span>am</span> a Future...</h2>
			</div>
		</div>
		<div class="row">
			{% for feature in features %}
			<div class="large-4 columns item">
				<a class="button expand large" href="{{ feature.url }}">{{ feature.title }}</a>
				<div class="description">
					{{ feature.get_rendered_content|safe }}
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
	{% endif %}
	{% get_home_features "home_feat" 3 as features %}
	{% if features %}
	<div class="wrap-home-content">
		<div class="row">
			<div class="small-12 columns">
				<h2 class="title hide-for-large-up">Get to Know Spring Hill</h2>
			</div>
		</div>
		<div class="row">
			{% for feature in features %}
				<div class="large-4 columns item">
					<div class="row">
						{% if feature.image %}
						<div class="small-4 large-12 hide-for-small columns">
							<div class="wrap-img">
								<img src="{{ MEDIA_URL }}{{ feature.image }}" alt="" width="{{ feature.image.width }}" height="{{ feature.image.height }}">
							</div>
						</div>
						{% endif %}
						<div class="small-12 medium-8 large-12 columns info">
							<a class="button expand large" href="{{ feature.url }}">{{ feature.title }}</a>
							<div class="description">{{ feature.get_rendered_content|safe }}</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
	{% endif %}

	<!--Quotes Section 
		<div class="wrap-quotes clearfix">
			<div class="medium-12 columns">
				<div class="row">
					<div class="quotes"></div>
				</div>
			</div>
		</div>
	-->

	<div class="wrap-graphics text-center">
		<div class="row">
			<div class="medium-6 medium-push-3 small-12 columns ">
				<img src="/static/theme/images/home/stats-top-10.jpg" class="roi-graphic" alt="Top 10 ROI graphic"/>
				<span class="show-for-sr">SHC ranked among top 10 colleges in the country for ROI</span>
			</div>
			<div class="medium-3 medium-pull-6 small-6 columns">
				<img src="/static/theme/images/home/stats-finaid.jpg" alt="Financial aid stats graphic"/>
				<span class="show-for-sr">100% of SHC incoming freshmen receive Financial Aid</span>
			</div>
			<div class="medium-3 small-6 columns">
				<img src="/static/theme/images/home/stats-placement.jpg" alt="Business placement graphic"/>
				<span class="show-for-sr">95.4% of the 2018 class secured placement within six months of graduation</span>
			</div>
		</div>
	</div>

	<div class="wrap-home-content">
		<hr>
		<div class="row">
			<div class="medium-12 columns">
				<h2 class="title text-center">New Undergraduate Offerings, Fall 2019</h2>
				<p class="subtitle text-center">High-demand course programs for ever-growing business career opportunities</p>
			</div>
		</div>
		<!-- full row for Burke Center -->
		<div class="row">
			<div class="small-12 columns">
				<div class="panel profile-panel">
					<div class="row">
						<div class="profile">
							<a href="/academics/freshmen-transfer/center-free-enterprise/">
								<div class="medium-6 small-12 columns">
									<img class="lead-img" src="/static/theme/images/home/BurkeForHomepage.jpg" />
								</div>
								<div class="medium-6 small-12 columns">
									<h3 class="profile-title">The Burke Center Certificate in Free Enterprise Studies</h3>
									<hr>
									<p class="blurb">The Certificate in Free Enterprise is a twelve credit-hour program in conjunction with the John J.
											Burke Jr. Center for the Study and Advancement of Free Enterprise. This certificate program is designed
											to prepare students of any major with the intellectual understanding and the skills to succeed as leaders
											and constructive participants in all aspects of the 21st century global economy.</p>
									<span class="more-link">More</span>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="medium-12 large-6 columns">
				<div class="panel profile-panel">
					<div class="row">
						<div class="profile">
							<a href="/academics/freshmen-transfer/majors/supply-chain-management/">
								<div class="medium-6 small-12 columns">
									<img class="lead-img" src="/static/theme/images/SCM_banner_thumb_375x375.jpg" />
								</div>
								<div class="medium-6 small-12 columns">
									<h3 class="profile-title">Supply Chain Management</h3>
									<hr>
									<p class="blurb">Equipping students with the management skills to be able to direct the flow of goods and services within industries.</p>
									<span class="more-link">More</span>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="medium-12 large-6 columns">
				<div class="panel profile-panel">
					<div class="row">
						<div class="profile">
							<a href="/academics/freshmen-transfer/majors/business-analytics/">
								<div class="medium-6 small-12 columns">
									<img class="lead-img" src="/static/theme/images/BA_banner_thumb_375x375.jpg" />
								</div>
								<div class="medium-6 small-12 columns">
									<h3 class="profile-title">Business Analytics</h3>
									<hr>
									<p class="blurb">Building a foundation of critical statistics and mathematical computing logic that can be applied to business issues in real-life.</p>
									<span class="more-link">More</span>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- <div class="row text-center">
			<a class="button large" href="{{ profile_page.get_absolute_url }}">View all profiles</a>
		</div> -->
	</div>


	{% comment %}
	{% get_page_by_id 1196 as profile_page %}
	{% if profile_page %}
		{% get_profiles_for_frontpage True as profiles %}
		{% if profiles %}
		<div class="wrap-home-content">
			<hr>
			<div class="row">
				<div class="medium-12 columns">
					<h2 class="title">Senior Spotlight</h2>
				</div>
			</div>
			<div class="row">
				{% for profile in profiles %}
					<div class="medium-12 large-6 columns">
						<div class="panel profile-panel">
							<div class="row">
								<div class="profile">
									<a href="{{ profile_page.get_absolute_url }}?id={{ profile.id }}&modal=1">
											<div class="medium-6 small-12 columns">
												<img class="lead-img" src="{{ profile.image.get_absolute_url|thumbnail:"400x400" }}" />
											</div>
											<div class="medium-6 small-12 columns">
												{% include 'profiles/partials/profile_titles.html' %}
												<hr>
												<p class="blurb">{{ profile.blurb }}</p>
												<span class="more-link">More</span>
											</div>
									</a>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
			<div class="row text-center">
				<a class="button large" href="{{ profile_page.get_absolute_url }}">View all profiles</a>
			</div>
		</div>
		{% endif %}
	{% endif %}
	{% endcomment %}

	<div class="wrap-about-main">
		<div class="wrap-about-content clearfix">
			<div class="medium-12 columns">
				<div class="row">
					<div class="medium-6 columns">
						<div class="panel">
							<!--
							<h2>Spring Hill Magazine<br>
								<small>Winter 2019</small></h2>
							<p class="description">
								NCAA Division II Success, Distinguished Alumnus Profile, Meet the College’s New Jesuit Rector and 
								<a href="/magazine" class="more-link">more</a>
							</p>
							<p><a class="button large" href="/magazine">Read the latest issue now</a></p>
							-->
							<h2>Badger Tracks</h2>
							<iframe src="https://player.blubrry.com/id/64837930/" scrolling="no" width="100%" height="138px" frameborder="0"></iframe>
						</div>
					</div>
					<div class="medium-6 columns newsfeed">
						<h2 class="title">News and Events</h2>
						<!-- awkwardly named 'get_frontpage' grabs most recent news items -->
						{% get_frontpage %}
						{% for entry in entries|slice0to:4 %}
						    {% include 'elephantblog/entry_list_item.html' with hide_byline=True hide_summary=True %}
						{% endfor %}
						<p class="more">
							<a href="/news" class="more-link">View more news items</a>
						</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="medium-12 columns about-us">
					<h2 class="title">About Spring Hill College</h2>
					<div class="sub-title"><strong><em>Forming leaders engaged in learning, faith, justice and service for life</em></strong></div>
					<div class="description">
						Spring Hill College offers an exceptional educational experience that prepares each graduate for success in both career and life.  Located on the beautiful Gulf Coast, and deeply rooted in the Jesuit, Catholic educational tradition that develops leadership potential, students are encouraged to develop critical thinking skills, explore opinions and beliefs different than their own, and understand how they can fulfill their potential and best serve the world.
					</div>
					<p>
						<a href="/about" class="button large">All about Spring Hill</a>
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="wrap-map-main">
		<div class="wrap-map-content">
		</div>
	</div>

	

{% endblock %}
