{% block content %}
<div class="row">
    <div class="medium-12 columns">
        <h1>{{ page.title }}</h1>
        {% include "partials/common/searchbox.html" %}
        {% include "partials/common/google-cse-results.html" %}
    </div>
</div>
{% endblock %}