{% extends "admin/base.html" %}
{% load staticfiles %}
{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="{% static 'theme/styles/admin/general.css' %}">
{% endblock %}

{% block footer %}
<div id="footer"></div>
	<script>
		django.jQuery(document).ready(function($) {
		 	$(".drag_handle").hide();
		})
	</script>
{% endblock %}

{% block title %}{{ title }} | SHC site admin{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">SHC site admin</a></h1>
{% endblock %}
