{% load feincms_page_tags %}
{% for entry in entries %}
	{% if entry.tree_id %}
	{% page_is_active entry as is_active %}
	{% endif %}
	<li class="{% if is_active %}active{% endif %}"><a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a></li>
	{% if show_kids and is_active and entry.children.all %}
	{% for link in entry.children.all %}
	{% page_is_active link as is_active %}
	<li class="sub{% if is_active %} active{% endif %}"><a href="{{ link.get_absolute_url }}">{{ link.title }}</a></li>
	{% endfor %}
	{% endif %}
{% endfor %}
</ul>