{% load content_tags %}
<script>

</script>
<div class="wrap-home-banner">
    <!-- manual video slide -->
    <!--<div class="banner">
      <div class="banner-img">
        <video style="width:100%;height:auto"
          preload
          autoplay
          playsinline
          loop
          muted
          widescreen
          poster="/static/theme/video/web-banner-1/shc-web-banner_poster.jpg">
          <source src="/static/theme/video/web-banner-1/CarouselVideoDrone.webm" 
                  type="video/webm"/>
          <source src="/static/theme/video/web-banner-1/CarouselVideoDrone.ogv"
                  type="video/ogg"/>
          <source src="/static/theme/video/web-banner-1/CarouselVideoDrone.mp4"
                  type="video/mp4"/>
        </video>
        <img class="video-alt" style="display:none" src="{{ MEDIA_URL }}features/2017/StudentsWalking_1200x450.jpg" width="1200" height="450" alt="homepage banner">        
      </div>
      <div class="medium-12 columns">
        <div class="banner-info">
          <div class="content linked">
            <a href="/commencement/">
              <h2 class="title">Spring Hill College Commencement Plans Have Changed</h2>
              <div class="desc">
                <p>Now Saturday, May 4, 9 a.m./Central Ave of the Oaks<br>Baccalaureate Mass, at this time, still 4:30 p.m. today, May 3</p>
                <span class="banner-action">LEARN MORE</span>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>-->
    <!-- / manual video slide -->
  {% get_home_features "home_banners" 7 as banner_features %}
  {% for banner in banner_features %}
    <div class="banner">
      <div class="banner-img">
        <img src="{{ MEDIA_URL }}{{ banner.image }}" width="1200" height="450" alt="homepage banner">
      </div>
      <div class="medium-12 columns">
        <div class="banner-info">
          {% if banner.url %}
          <div class="content linked">
            <a href="{{ banner.url }}">
              <h2 class="title">{{ banner.title|safe }}</h2>
              <div class="desc">
                {{ banner.get_rendered_content|safe }}
                <span class="banner-action">LEARN MORE</span>
              </div>
            </a>
          </div>
          {% else %}
            <div class="content">
              <h2 class="title">{{ banner.title|safe }}</h2>
              <div class="desc">
                {{ banner.get_rendered_content|safe }}
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  {% endfor %}
</div>
