<div class="wrap-home-video" style="margin-bottom: -10px;">
    <video style="width:100%;height:auto"
      preload
      autoplay
      loop
      muted
      widescreen
      poster="/static/theme/video/web-banner-1/web_beauty_banner-CROPPoster.jpg">
      <source src="/static/theme/video/web-banner-1/web_beauty_banner-CROP.webm" 
              type="video/webm"/>
      <source src="/static/theme/video/web-banner-1/web_beauty_banner-CROP.ogv"
              type="video/ogg"/>
      <source src="/static/theme/video/web-banner-1/web_beauty_banner-CROP.mp4"
              type="video/mp4"/>
    </video>
</div>