{% load thumbnail %}
<ul class="large-block-grid-2 small-block-grid-1 subpage-list">
  {% for page in page_list %}
    <li>
      {% if page.content_subtitle %}
      <hgroup>
      {% endif %}
      <h3>{{ page.content_title }}</h3>
      {% if page.content_subtitle %}
      <h4>{{ page.content_subtitle }}</h4>
      {% endif %}
      {% if page.content_subtitle %}
      </hgroup>
      {% endif %}
      {% if page.excerpt_image %}
      <a href="{{ page.get_navigation_url }}" class="box">
        <div class="th">
          <img src="{% thumbnail page.excerpt_image 450x0 crop %}"
            alt="">
        </div>
      </a>
      {% endif %}
      <p>{{ page.excerpt_text|linebreaksbr }}</p>
      <p class="text-right">
        <a href="{{ page.get_navigation_url }}" class="box more-link">more</a>
      </p>
    </li>
  {% endfor %}
</ul>
