{% for degree in degrees %}
<div class="row">
    <div class="small-12 columns">
        <div class="panel profile-panel">
            <div class="row">
                <div class="profile">
                    {% if degree.link_to %}
                    <a href="{{ degree.link_to }}">
                        {% endif %}
                        <div class="medium-6 small-12 columns"><img class="lead-img"
                                src="/static/theme/images/{{ degree.img_url }}" alt="{{ degree.title }}"></div>
                        <div class="medium-6 small-12 columns">
                            <h3 class="profile-title">{{ degree.title }}</h3>
                            <hr>
                            <p class="blurb">{{ degree.blurb }}</p><span class="more-link">More</span>
                        </div>
                        {% if degree.link_to %}
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}