{% load util_tags %}
<div class="dept-info" itemscope itemtype="http://schema.org/CollegeOrUniversity">
	<span itemprop="name" class="parent-name">Spring Hill College</span>
	<div itemprop="department" itemscope 
	  itemtype="http://schema.org/Organization">
		<ul class="side-nav rendered-dept-info" data-code="{{ dept_code }}">
			<!-- wrapper for dept-info.handlebars -->
		</ul>
		<div class="rendered-group-contacts dept-info" data-code="{{ dept_code }}" data-qs="{{ query_options }}">
		  <!-- wrapper for group-contacts.handlebars -->
		</div>
	</div>
</div>