<li itemprop="name" class="org-name">{{ name }}</li>
{{#if phone.[0] }}
<li>
  <a href="tel:{{ phone.[1] }}" class="has-icon phone">
  <span itemprop="telephone">{{ phone.[0] }}</span></a>
</li>
{{/if}}
{{#if urls }}
	{{#each urls }}
<li><a href="{{ url }}" class="has-icon home">{{ url_title }}</a></li>
{{/each}}
{{/if}}
{{#if name }}
	<li><a href="/about/campus-directory/?q={{ search_str }}" target="_blank" class="has-icon users">See faculty and staff in {{ name }}</a></li>
	{{/if}}
{{#if location}}
<li>
{{#if location.slug}}
  <a href="/about/getting-here/campus-map/#?loc={{ location.slug }}" class="has-icon map">Map:
{{/if}}
{{ location.name }}
{{#if location.slug }}</a></li>{{/if}}
{{/if}}
