{% extends "grid/bricks_two-col_left-sidebar.html" %}
{% block content %}
	<div class="row">
		<div class="medium-9 columns">
			{% include 'jobs/job_summary.html' %}
		</div>
		<div class="medium-3 columns meta">
			{% include 'jobs/job_meta.html' %}
		</div>
	</div>
{% endblock %}