{% extends "grid/bricks_two-col_left-sidebar.html" %}
{% block content %}
	<h3>Faculty Postings</h3>
	{% if object_list.fac %}
		{% include "jobs/job_listing.html" with jobs=object_list.fac %}
	{% else %}
		<p>No current postings for faculty.</p>
	{% endif %}
	<h3>Staff Postings</h3>
	{% if object_list.staff %}
		{% include "jobs/job_listing.html" with jobs=object_list.staff %}
	{% else %}
		<p>No current postings for staff.</p>
	{% endif %}
{% endblock %}
