{% load applicationcontent_tags %}
<h4>{{ job }}</h4>
{% if brief %}
{{ job.summary|truncatewords_html:100|safe }}
<a class="button more-button" href="{% app_reverse "entry_detail" "jobs.urls" job.id %}">Full Posting</a>
{% else %}
{{ job.summary|safe }}
{% endif %}